[2014-10-24 22:06] zachary-foster opened #1 "`ncbi_taxon_sample`: handle unranked taxa better"
Some taxa do not have a taxonomic level assigned. This makes level-based actions like count filtering not applicable. Currently, high level taxa without defined levels are not subject to count filtering, sometimes making them inflated. I need a way to handle this more intellegently. Perhaps they can adopt the rank of sister taxa if they exist. Or, there could be a limit as to how many consecutive

[2014-10-26 01:55] zachary-foster commented on #1
Another solution could be to allow level filtering to be relative to the depth from the starting level, rather than reliant on the availability of a taxonomic ranking. In other words, instead of

[code]

one could write

[code]

with the name of the level indicating how many levels are recursed into.

This would work well withing groups with relatively consistent taxonomy, but would probably be su

[2014-12-02 16:19] zachary-foster opened #7 "extract_taxonomy: mixed id types in classifications"
Add ability to output a mixture of verified unique taxon ids and arbitrary ids when looking up classification names. I imagine this could be useful when some taxon names cannot be found in a database.
1. assign arbitrary ids to each taxon in a classification
2. look up taxon ids from names
3. replace arbitrary ids with returned ids
4. add a column to the `taxa` output indicating the type of id: ("

[2014-12-09 12:48] zachary-foster opened #9 "Make `taxonomic_sample` function"
Make `taxonomic_sample` function that abstracts the functionality used in `get_taxon_sample` so it can be used to recursivly subsample any set of observations as long as functions can be defined  to get subtaxa ids and sample ids gor given taxa.

`taxonomic_sample` would need the following additional options:
- `get_subtaxa` : The function used to get the subtaxa of a given taxon.
- `get_observati

[2014-12-09 12:51] zachary-foster opened #10 "Allow for sampling with replacement in `taxonomic_sample`"
The option `replace` could be added to `taxonomic_sample` to allow for sampling with replacement. This could be useful for bootstrapping applications.

[2014-12-16 23:48] zachary-foster opened #13 "Complete workflow vignette"
There should be a workflow vignette that provides a few example workflows.

Something like:
1. Parse example FASTA file with `extract_taxonomy`
2. Plot classifications
3. Subsample with `taxonomic_sample`
4. Plot subsampled classifications
5. In silico PCR
6. Plot results of insilico PCR
7. Barcode gap analysis
8. Plot results of barcode gap analysis

Complete mitochondrial sequences and COX1 as t

[2014-12-17 18:40] zachary-foster opened #14 "Consider further abstracting `taxonomic_sample` until not specific to taxonomic analysis"
`taxonomic_sample` is currently abstracted to the point where it can be used on any set of items with a indexed heirarchical classification. I could remove all reference to taxonomy and rename it `recursive_sample`. The only potential problem is the rank concept.

[2014-12-18 16:58] zachary-foster opened #15 "Complete subsample vignette"

[2014-12-26 05:16] zachary-foster opened #17 "Make roxygen import method consistent"

[2014-12-27 19:37] zachary-foster opened #21 "`plot_taxonomy`: add option to remove nodes with only one child."

[2015-01-05 06:25] zachary-foster opened #22 "`plot_taxonomy`: add option to use default text grobs"
The automatically scaling text grobs are ideal for most publication applications, but they are apparently computing intensive (for some reason I have not investigated yet) to implement when there are hundreds or more. It would be good to have an option to use standard text grobs when lots of text will need to be displayed.

[2015-01-06 21:42] zachary-foster opened #23 "`ncbi_taxon_sample`: make output `classified`"

[2015-01-06 21:44] zachary-foster commented on #14
This is effectivly done via `recursive_sample`, which is used to implement `extract_taxonomy`. Needs more testing however.

[2015-01-06 21:44] #14 closed, assigned to nobody

[2015-01-06 21:45] zachary-foster commented on #9
Done.

[2015-01-06 21:45] #9 closed, assigned to nobody

[2015-01-06 21:50] zachary-foster opened #24 "Complete in silico PCR vignette"

[2015-01-06 21:54] zachary-foster opened #25 "Complete barcode analysis vignette"

[2015-01-07 02:32] zachary-foster opened #26 "`plot_taxonomy`: new option `no_trunk`"
When all the items associated with a taxonomy share several high level ranking taxa....
![rplot](https://cloud.githubusercontent.com/assets/6090555/5639847/5bf46f06-95d2-11e4-9b58-fbe5bede6b95.png)

[2015-01-07 06:17] zachary-foster opened #27 "new function: `clean_taxonomy`"
I often need to clean up the names of taxons, such as:

Inocybaceae_sp                      (not informative for species, should be NULL)
Rhodotorula_cycloclastica    (should be "cycloclastica")
Caloplaca_sp_RVM_2012
Russula_cf_brevipes_RK8
Russula_brevipes_var_acrior
Russula_aff_brevipes_r_04085
"Crenarchaeota"

[2015-01-07 10:02] zachary-foster opened #28 "Complete tree plotting vignette"

[2015-03-28 03:12] zachary-foster commented on #17
done

[2015-03-28 03:12] #17 closed, assigned to nobody

[2015-03-31 22:13] zachary-foster opened #29 "See if any dependencies can be dropped"
There are a lot of dependencies that are only use rarely and possibly could be removed.

[2015-03-31 22:14] zachary-foster opened #30 "Add SILVA parsing example in vignette"

[2015-04-03 22:28] zachary-foster opened #31 "Change default plot_taxonomy colors"
Make the background of the plot transparent and pick a color scale that is color-blind friendly.

[2015-04-07 19:22] #31 closed, assigned to nobody

[2015-04-13 19:47] zachary-foster opened #32 "Make ncbi_taxon_sample accept mutiple inputs"

[2015-04-14 00:12] #32 closed, assigned to nobody

[2015-04-22 17:07] zachary-foster opened #33 "extract_taxonomy: allow `item_id` to be non-unique"

[2015-04-24 22:41] zachary-foster opened #34 "get_taxon_items: make the `target` parameter default to `taxa`"

[2015-04-27 23:53] zachary-foster opened #35 "`plot_taxonomy`: use force-directed graph layouts correctly"
- [ ] davidson-harel
- [ ] fruchterman-reingold
- [ ] kamada-kawai
- [ ] drl
- [ ] graphopt ?
- [ ] large-graph ?

[2015-05-01 18:47] zachary-foster opened #36 "`plot_taxonomy`: add option to specify random seed."

[2015-09-21 20:44] zachary-foster opened #37 "`primersearch`: document and standardize output"
There is some ambiguity about whether the primer sequences are included in the amplicon and "length" fields.
This should be specified.
Perhaps and option should be added to choose if primer sequences are taken into account.

[2016-02-17 07:42] zachary-foster opened #38 "Fix plotting anomalies"
For some reason, the text in plots is no longer positioned correctly. Also, the default size range of elements is off.

[2016-02-19 18:09] zachary-foster opened #39 "pariwise differential display"
Make some sort of graphic for comparing more than two treatments. Perhaps a pairwise set of graphs, each highlighting differences.

[2016-02-24 01:23] zachary-foster opened #40 "Allow install without emboss"
Currently, building the vignettes requires primersearch, from the emboss tool kit to be installed. This should not be.

[2016-02-25 00:22] zachary-foster opened #41 "plot_taxonomy: make margin take into account labels / standardize stat suffixes"
Currently, labels are plotted on a [0,1] coordinate space whereas the other elements are plotted in the space returned by igraph layout functions. Therefore, there is no easy way right now to estimate the size of labels in igraph space, so labels do not effect the plotting window/margins. This means that if the margin is set to 0, labels can be cut off.

To fix this, I need to estimate the size of

[2016-02-25 00:26] zachary-foster commented on #38
This has been fixed in the new plotting function that will soon be replacing the old

[2016-02-25 00:26] #38 closed, assigned to nobody

[2016-02-25 00:27] zachary-foster commented on #36
This is actually better specified outside of the function. There are enough options as it is anyway.

[2016-02-25 00:27] #36 closed, assigned to nobody

[2016-02-25 00:29] zachary-foster commented on #26
It is better to do this outside of the plotting function using `get_stem_taxa`. There are enough parameters in `plot_taxonomy` already.

[2016-02-25 00:29] #26 closed, assigned to nobody

[2016-02-25 04:38] zachary-foster opened #42 "plot_taxonomy: default selection of layout"
If the user does not specify a layout, use mean and standard deviation of rank depth to pick a appropriate layout.

[2016-02-26 12:42] zachary-foster commented on #41
This is done in the new plot_taxonomy.

[2016-02-26 12:42] #41 closed, assigned to nobody

[2016-03-08 05:34] zachary-foster opened #43 "extract_taxonomy: filter out hex characters"
The unite database has a few hex characters in headers. This breaks extract_taxonomy.

[2016-03-08 07:05] zachary-foster opened #44 "extract_taxonomy: rewrite for speed and robustness"
`extract_taxonomy` is taking forever to parse the ~20,000 records in the UNITE general FASTA release, even when not querying databases.

[2016-03-11 18:26] zkamvar commented on #40
Is this the reason why I can't install metacoder on my machine when building vignettes?

[code]

[2016-03-11 18:28] zkamvar opened #45 "Request: add examples in man pages"
Documentation in vignettes is a great thing, but having examples in the man pages is extremely helpful especially when the user wants to quickly see how a certain function is used.

[2016-03-11 18:43] zkamvar opened #46 "Suggestion: make internal functions truely internal"
When I look at the index for metacoder, there are a lot of functions that don't seem to be immediately of use to the user, such as `resizingTextGrob()`. Additionally, I notice that there are unexported functions documented such as `verify_color_range()`.

These create a lot of clutter in the index for metacoder and might confuse users. I have a couple of suggestions to de-clutter these.
### Export

[2016-03-11 18:50] zachary-foster commented on #40
Yes, that appears to be the problem. Thanks for trying to install it though. Perhaps you could try again once this issue is closed?

[2016-03-11 18:52] zachary-foster commented on #45
Yes, good point. I will go through the functions and make sure they all have examples.

[2016-03-11 18:54] zkamvar commented on #45
If they don't run quickly, you can always wrap them in a `\dontrun{}`

[2016-03-11 18:58] zachary-foster commented on #46
Good ideas. I appreciate you looking through the package. In regards to `resizingTextGrob`, I think it needs to be exported since the `grid` package must have access to it. `resizingTextGrob` is an odd case, for the others there are probably some that can un-exported.

[2016-03-11 19:01] zkamvar commented on #46
That is a very interesting conundrum. Usually anything that happens inside your package has access to anything within your packages internal namespace. What happens when you don't export it?

[2016-03-11 19:24] zkamvar commented on #29
It's worth mentioning here:

Dependency hell is very real. That being said, if you have continuous integration, and depend on R packages that have good maintainers (like the RopenSci people or hadley) you shall not fear them.

You may end up actually including more imports because as of R version 3.2, you should explicitly state which non-base packages you use, which includes things like stats and

[2016-03-11 20:07] zachary-foster commented on #46
I am rusty on the details, but I think `resizingTextGrob` extends the `grid` package in some way. Its not my package that need access to `grid`, but `grid` that needs access to my package. And, its not a direct reference to my package that could be done with the `:::` accessor for internal functions; its something name-based or class based. I don’t think that `gird` knows about `resizingTextGrob`

[2016-03-11 20:15] zkamvar commented on #46
I feel a disturbance in the force...

[2016-03-11 20:30] zachary-foster commented on #46
Haha. Hopefully its not that bad...

[2016-03-11 23:54] zachary-foster opened #47 "Make `plot_taxonomy` more modular"
Currently `plot_taxonomy` is over 500 lines long. This should not be. A couple things that could be done:
- Make all text grobs using the same function from a common data frame. Only the x,y,size, color, etc need to be defined in the function. Do the conversion of coordinates in this function as well.
- Put all that mess associated with the legend in its own function.
- Make some of the longer int

[2016-03-11 23:56] zachary-foster opened #48 "`plot_taxonomy`: add a overall graph title option"
Currently, each tree can have titles, but not the overall graph when there are multiple trees.

[2016-03-11 23:58] zachary-foster opened #49 "`plot_taxonomy`: standardize handling of text"
All text in the plot should be added to the same data.frame and treated the same. This will remove a lot of repetitive code and make it easier to calculate margins correctly.

[2016-03-12 00:06] zachary-foster opened #50 "`plot_taxonomy`: Add options to define the range of statistics to display"
Currently, the range of statistics supplied is used to infer the range dispalyed. This is optimal for many kinds of data, but makes it hard to make multiple graphs with the same color/size to statistic relationship or to set logical ranges, such as a diverging scale with 0 in the middle.

[2016-03-12 00:51] zachary-foster opened #51 "Create `taxonomy` and `classified` objects"
I want to have most functions take objects instead of vectors in  order to reduce the number of arguments needed and hide the edge list of taxon ids from users.

There is a class system in R being developed for taxonomy here: https://github.com/ropensci/binomen

I need to look into it more

[2016-03-22 21:13] zachary-foster commented on #51
This is done. Not sure if this will be part of metacoder or [taxa](https://github.com/ropenscilabs/taxa) in the long run

[2016-03-22 21:13] #51 closed, assigned to nobody

[2016-03-22 21:15] zachary-foster commented on #21
This should not be handled by plot_taxonmy, rather is should be a subset operation on a `classified` object

[2016-03-22 21:15] #21 closed, assigned to nobody

[2016-03-23 17:08] zachary-foster opened #52 "make `taxonomic_sample` accept `classified` class as input"
This will replace 4 arguments and make the function much more usable. I will have to change how the rank argument works though; cant assume that there will always be rank information

[2016-03-23 18:16] zachary-foster opened #53 "Differential plot"
This should take two `classified` objects, instead of one, and provide appropriate defaults. It will use a diverging color scale to represent differences. #50 needs to be done first.

`diff_plot(obj1, obj2, ...)`

alternatively, a single `classified` object can be given and an item_data column name containing a factor to split the data by.

 `diff_plot(obj1, diff_col = sample_name, ...)`

[2016-03-23 19:53] zachary-foster opened #54 "Get continuous integration working"
Use Travis CI

[2016-03-23 19:56] zachary-foster opened #55 "Get tests in place"
At least 80% coverage would be nice.

[2016-03-23 20:12] zachary-foster opened #56 "Allow `extract_taxonomy` to take a DNAbin file as input"
There might need to be an extra option that determines whether sequences are stored or not. This would be a useful base for wrapper functions that parse know database FASTA files.

[2016-03-23 20:14] zachary-foster opened #57 "Make wrapper functions for `extract_taxonomy` that parse common databases"
Such as `parse_unite`, `parse_ncbi`, etc.

Should complete #56 first.

[2016-03-23 20:35] zachary-foster opened #58 "Add wrapper function for `extract_taxonomy` for abundance matricies"
Slight variations on tab-delimited abundance/presence matrices seem common. Might need to specify the columns with taxonomy information.

[2016-03-24 19:52] zachary-foster opened #59 "Make a animated plot function for time series data"
This would show the changes in a community over time, one plot per time point.

[2016-03-24 19:56] zachary-foster opened #60 "make `primersearch` accept `classified` as input"
The function could return another `classified` object, with the results included in `taxon_data` and `item_data`, or just results.
Im not sure which; perhaps an option would be best

[2016-03-25 22:09] #52 closed, assigned to nobody

[2016-03-25 22:22] zachary-foster opened #61 "Update vignettes to use `classfied` and get a decent website up"
This will require adapting a few functions to `classified` and some rewriting of text.

[2016-03-26 00:32] #56 closed, assigned to nobody

[2016-03-26 00:32] #46 closed, assigned to nobody

[2016-03-29 04:14] zachary-foster opened #62 "`plot_taxonomy`: clean up legend code and add labels"
- [x] The function should require less parsing of its output, returning data ready to be passed to plotting  functions
- [x] each scale should have axis labels (e.g. 'abundance') and a title (e.g. vertex). labels should settable by options.
- [x] The size of legend text should be relative to its length
- [x] The size/color scale should only be visible if unique.
- [x] The vertex/edge scales should

[2016-03-29 04:32] zachary-foster opened #63 "Reorganize code for smaller files"
A few of the files are getting too long to be practical. They should be split into multiple smaller files, perhaps in a hierarchy

[2016-03-29 07:27] zachary-foster opened #64 "Add option for multiple colors per edge/vertex"
Each vertex could be a pie graph and each edge split into bars.

[2016-03-31 05:34] zachary-foster opened #65 "`plot_taxonomy`: look into multiline titles"

[2016-04-01 16:22] zachary-foster opened #66 "`plot_taxonomy`: Look into adding Phylopic shapes"
These could be added next to or in place of vertices

http://phylopic.org/

https://github.com/sckott/rphylopic

[2016-04-03 03:19] zachary-foster opened #67 "`plot_taxonomy`: see if there is a better way to format scale numbers"
They are formatted ok now, but it would be nice if they were more rounded. Look at ggplot2 axis numbering

[2016-04-03 20:05] #62 closed, assigned to nobody

[2016-04-03 20:05] #49 closed, assigned to nobody

[2016-04-03 20:06] #47 closed, assigned to nobody

[2016-04-03 20:06] #48 closed, assigned to nobody

[2016-04-03 20:15] zachary-foster opened #68 "`plot_taxonomy`: add legends for categorical data"
Currently, the legends are designed for quantitative data, even though it is possible to plot categorical data.
It would be nice to have a legend type for categorical data when characters/factors are supplied instead of numbers.

[2016-04-04 19:41] zachary-foster opened #69 "Add function to read fasta subset"
Big fasta files are common. I just ran into one that would require 14GB of RAM to read into R using `ape::read.dna`. I need a way to read into subsets of large fasta files.

The following should be possible:
- Read in a defined set of sequence indexes (e.g. `c(3, 2)` would read the third and second sequence)
- Read a random subset. This can use the code for the defined subset, but requires knowing

[2016-04-04 20:36] zachary-foster commented on #69
@knausb suggested using `readr` for handling gzipped file inputs

[2016-04-05 04:42] #50 closed, assigned to nobody

[2016-04-05 04:45] zachary-foster commented on #60
done

[2016-04-05 04:45] #60 closed, assigned to nobody

[2016-04-05 04:49] zachary-foster commented on #53
This can now be done using the standard plotting function by subtracting two columns and setting a color interval

[2016-04-05 04:49] #53 closed, assigned to nobody

[2016-04-06 01:53] zachary-foster opened #71 "Make functions to save `classified` results to FASTA files"
This would be useful to save the `primersearch` amplicons or results of sub-sampling sequence data.
- [ ] make `write_fasta.classified` function, one seq per line
- [ ] add column width option
- [ ] add upper/lower case option
- [ ] add compressed option

[2016-04-06 01:59] #34 closed, assigned to nobody

[2016-04-06 21:39] zachary-foster opened #72 "`plot_taxonomy`: add option to set background color"
The default could be transparent or white.
@grunwald @Tabima @zkamvar @knausb: Do you think the background should be white or transparent by default? Thanks for your input!

[2016-04-06 21:42] zkamvar commented on #72
White. Backgrounds are not too difficult to remove after the fact.

[2016-04-06 21:42] zkamvar commented on #54
bump

[2016-04-06 21:43] Tabima commented on #72
## Second Zhian’s vote. I personally like white as a BG

Javier F. Tabima R., M. Sc.

Ph. D. Student,
Botany and Plant Pathology Department.
Oregon State University,
Corvallis, OR.

Graduate Research Assistant,
Grunwald lab.,
USDA-ARS,
Corvallis, OR.

people.oregonstate.edu/~tabimaj
grunwaldlab.cgrb.oregonstate.edu/
www.phytopthora-id.org/

[2016-04-06 22:38] knausb commented on #72
I would have voted for transparent, it can be a little difficult to set sometimes. Its usually easy to change transparent to white though.

[2016-04-06 22:45] zachary-foster commented on #72
Thanks for the feedback everyone! I lean towards transparent as well, since most of the time plots will be put into sideshows or posters that might have non-white backgrounds. But then again, non-white backgrounds might throw off color perception, so I’m conflicted.

We need a tie-breaker. @grunwald?

[2016-04-07 02:52] zachary-foster opened #73 "`primersearch`: investigate multiple primer pairs at once"
Before being adapted to take/output `classified` objects, `primersearch` was designed to accept multiple primer pairs. I should look into multiple primer pairs for the new system

[2016-04-07 06:27] zachary-foster opened #74 "Look into incorperating version increase hook into package"
Currently a pre-commit hook rscript is used to increment version number each commit.
This does not move with the repository so has to be recreated for each computer.
I would be better for this to be defined in the package.
Perhaps it could be updated each build in case changes are made to the rscript.

[2016-04-07 06:45] #45 closed, assigned to nobody

[2016-04-08 08:43] zachary-foster opened #75 "extract_taxonomy + primersearch interaction bug"
When an `item_info` in `extract_taxonomy` is named "seq_id" and the result is given to primersearch, the rows of the taxon_data and the primersearch result do not match up. Its dose not give an error, just random-looking results.

[2016-04-08 09:02] zachary-foster opened #76 "`plot_taxonomy`: inverstigate the effects of taxon order on the layout of the graph"
Most layouts have an element of randomness, but "reingold-tilford" does not. Instead order of input effects the layout. It should be optimized to spread out large taxa. In the mean time I will make it random so the user has some control at least.

[2016-04-08 22:20] grunwald commented on #72
Transparent with white as another option.

[2016-04-08 22:42] zachary-foster opened #77 "`plot_taxonomy`: when an integer is given dont put decimals on legend"
For example, when mapping rank to color, only integers should appear on the legend, since a a rank of 1.5 does not make sense.

[2016-04-11 13:54] zachary-foster opened #78 "`primersearch`: Check if EMBOSS is installed"
Right now no check is made to see if EMBOSS is installed. There should be a helpful error message if it is not.

[2016-04-11 13:54] zachary-foster commented on #40
This should be fixed, since vignettes are no longer built when the package is installed and the `primersearch` examples are not run. However, there is still no test to see if EMBOSS is installed. See #78

[2016-04-11 13:54] #40 closed, assigned to nobody

[2016-04-11 14:27] #54 closed, assigned to nobody

[2016-04-11 17:37] #61 closed, assigned to nobody

[2016-04-11 18:25] #78 closed, assigned to nobody

[2016-04-11 18:28] #13 closed, assigned to nobody

[2016-04-11 18:29] #28 closed, assigned to nobody

[2016-04-11 18:29] #15 closed, assigned to nobody

[2016-04-12 18:52] zachary-foster opened #79 "New function to download a locus from whole genomes"
In silico PCR relies on the primer sites being represented in the sequences used. Searching for sequences to use that are produced by PCR do not contain the sites of the most common primers, since those primers often produced them. Genomic data has the sequence needed, but is large. A function that can download just a specific locus from a range of genomes would be very useful for testing primers.

[2016-04-12 18:54] zachary-foster opened #80 "Try to avoid all R CMD check notes"
It might be easier to submit to cran if there were no notes on R CMD check.

[2016-04-12 22:33] #80 closed, assigned to nobody

[2016-04-12 22:36] zachary-foster commented on #1
I think this has been done for quite a while

[2016-04-12 22:36] #1 closed, assigned to zachary-foster

[2016-04-12 23:42] #63 closed, assigned to nobody

[2016-04-13 17:53] zachary-foster opened #81 "Look into incorperating Primer Prospector"
This would require abstracting `primersearch` to use more than one program. Perhaps a new function named `pcr` would be best.

http://pprospector.sourceforge.net/index.html

[2016-04-13 18:35] zachary-foster opened #82 "fix primersearch example"
The example produces an error when plotted, probably because all of the values plotted are 0 in this case, which is another problem with this example.

[code]

[2016-04-13 19:08] zachary-foster opened #83 "`plot_taxonomy` Allow partial matching of layout names"
The names are long and hard to spell.

[2016-04-13 19:14] #82 closed, assigned to nobody

[2016-04-13 19:46] #83 closed, assigned to nobody

[2016-04-13 21:45] #72 closed, assigned to nobody

[2016-04-15 00:36] zachary-foster opened #84 "Check how to install EMBOSS on Mac and Windows"
There should be information on this in ?primersearch and on the website/readme homepage
- [x] Mac
- [ ] Windows

[2016-04-18 23:31] zachary-foster commented on #44
Almost all the time is spent in `add_taxon_ids`

[2016-04-21 04:42] zachary-foster commented on #44
A partial rewrite of `extract_taxonomy` is in order to bring it up to date with the philosophy of `classified` objects and to make it faster. This will be done on the dev branch. The following changes will or have been made:
- [x] Remove the `item_name` key option. This is not really different from `item_info` and I do not think it would be better than `item_id` for indexing `item_data` in a `clas

[2016-04-25 21:33] zachary-foster opened #85 "Make code formatting consistent"
I have tried out a couple of different styles of code formatting during the writing of this package.
I should decide on a format, write it up in a `contributions.Rmd` style guide and apply it to the whole package.
- [ ] Style guide
- [ ] Apply to package

[2016-04-28 14:55] zachary-foster opened #86 "`plot_taxonomy`: Make vertex size optimization faster"
On large graphs, vertex size range optimization is the limiting factor and can make plotting take too long. This could be made faster using C++ code, by doing the calculations using the data.table package, or only optimizing on a subset of the vertexes.

[2016-04-29 00:20] zachary-foster opened #87 "`taxon_data`: Make faster and change implementation of calculated columns"
By default, all calculated columns are displayed by `taxon_data`.
For large datasets (>2000 items), this can take a while the way it is implemented now.
A quick solution would be to not display calculated columns by default, which would make it almost instant.

Calculated columns should instead be handled by functions that take a classified object as an argument. For example, instead of:

[code]

[2016-05-05 20:13] zachary-foster opened #88 "Investigate adding tree map plotting"
@grunwald suggested adding a tree map visualization as seen in figure two in the link below:

http://science.sciencemag.org/content/348/6237/1261605.figures-only

[2016-05-09 15:52] zachary-foster opened #89 "Add links to vignette websites in function help pages"

[2016-05-09 21:58] zachary-foster opened #90 "Look into using `memoise` to speed up `taxon_data`"
The example below suggests that  it might be possible to speed up  `taxon_data` by temporarily memoizing `metacoder:::subtaxa`:

[code]

[2016-05-10 00:26] #87 closed, assigned to nobody

[2016-05-10 00:27] #86 closed, assigned to nobody

[2016-05-10 00:27] #75 closed, assigned to nobody

[2016-05-10 00:29] #33 closed, assigned to nobody

[2016-05-10 00:31] zachary-foster commented on #7
all taxon Ids are now arbitrary and the official IDs are added when available

[2016-05-10 00:31] #7 closed, assigned to nobody

[2016-05-10 00:32] #37 closed, assigned to nobody

[2016-05-10 22:26] zachary-foster opened #91 "`subset`: unhelpful error message when an invalid column is used"
[code]

[2016-05-11 00:50] zachary-foster opened #92 "`plot_taxonomy`: vertex_size_range maximum not working"
The minimum seems to work, but the maximum is still being optimized even when specified.

[code]

[2016-05-11 23:27] zachary-foster opened #93 "`plot_taxonomy`: revamp invalid layout warnings"
For very small subgraphs (1-3 nodes) some layout are not appropriate. Currently, one warning is given per invalid graph, which can result in many warnings in some cases.
- [ ] Only one warning per function call should be given.
- [ ] Fix this weirdness: `3: In FUN(X[[i]], ...) :
  Could not apply layout 'fruchterman-reingold' to subgraph. Using 'fruchterman-reingold' instead.`

[2016-05-12 06:58] zachary-foster opened #94 "Replace `sum.classified`"
I removed `sum.classified` since it was outdated and I did not want to update it at the time.
Perhaps replace it with a function called `merge`, that allows users to choose columns of `taxon_data` and `item_data` to base the merge on.

Below is the old function for future reference:

[code]

[2016-05-12 17:40] zachary-foster opened #95 "`plot_taxonomy`: look in to edgelist padding for layout of tree format"
When using the defualt reingold-tilford format, branches can overlap. I think this happens when there are branches of unequal length. One solution might be to make dummy nodes to pad the edge list to the same length, calculate the layout, and then remove them. This would make reingold-tilford very useful as an initial layout to avoid branch crossing in other layout formats.

[2016-05-12 19:16] zachary-foster commented on #95
I tired to integrate this into the plot_taxonomy function, but it was more trouble than it is worth for now:

[code]

A better solution might be to make a padding option for `taxon_data` or another function and set the plotting for padding nodes to be invisible

[2016-05-12 20:16] zachary-foster opened #96 "`extract_taxonomy`: add option to remove genus epithet from binomials"
This is redundant in the context of a taxonomy and can always be added in later.
This could be generalized to removing any occurrence of the parent taxon's name at the start of a taxon name.
This would make graphs much clearer.

[2016-05-13 19:19] zachary-foster opened #97 "Make planel of diverse data to test plotting defualts"
I need a quick way to asses the effects of changes to plotting settings, especially default settings.
Often a change suits a particular set of data, but is inappropriate for other types.
It would be useful to make an internal function to plot many diverse data sets all at once given a set of option values.
I can then run this function to see if a setting change breaks the plotting in some obscure

[2016-05-13 19:28] zachary-foster opened #98 "Make tree label size and position take into account vertex size"
Currently only vertex position is used, not size.
This works fine for large trees in which the differences in vertex position is far larger that vertex size.
In trees with few nodes, this is not true.

[2016-05-13 20:28] zachary-foster commented on #98
fixed in dev branch

[2016-05-17 00:13] zachary-foster opened #99 "Center title over whole plot"
Currently the title is centered over the tree, but this does not take into account the legend.
When the legend is wide, it makes the title look off-centered.

[2016-05-17 00:13] zachary-foster commented on #96
This is included in the dev branch

[2016-05-18 06:32] zachary-foster opened #100 "plot_taxonomy: edge overlap optimization"
Setting `edge_size` different than `vertex_size` does not work well without optimization.

[2016-05-21 00:26] zachary-foster opened #101 "Look into extending dplyr verbs to `classified` objects"
The main difference between the structures that `dplyr` uses and mine is that mine have two dataframes that are related in a specific way instead of individual data.frames related in an arbitrary way to other data.frames. The taxon data frame has an edge list and the items data.frame must have a column with values from the first component of the edgelist. For example, subsetting one means the othe

[2016-05-26 17:54] zachary-foster opened #102 "Odd note when making `contaminants` example data set"
[code]

[code]

[2016-05-26 17:58] zachary-foster opened #103 "`extract_taxonomy`: check for names shared between taxa and items before proceeding"
Currently the `classified` constructor checks that taxon column names and item column names are different.
This means that `extract_taxonomy` almost finishes before checking this.
`extract_taxonomy` should fail quicker by doing its own check.

[2016-05-26 20:09] zachary-foster opened #104 "Look into making a wrapper for R circos"

[2016-05-26 20:10] zachary-foster opened #105 "Make standard stacked barcharts"
This would take a `taxmap` as input and return a `ggplot2` graph. The `dataset` would typically be the result of soemthing like `calc_taxon_abund`

`stacked_barchart(obj, dataset, cols = NULL, groups = NULL, ranks = NULL)`

`dataset`, `cols` and `groups` would work like those options in functions like `calc_taxon_abund`. The same parsers for those options should be reused.

`ranks` would take two

[2016-05-27 01:33] zachary-foster opened #106 "`plot_taxonomy`: error when plotting a single taxon"
Not too useful, but it might happen in pipelines  so it should be possible

[2016-05-30 23:41] zachary-foster commented on #101
I removed the partial code for the overall `filter` function.
All functionality is already in `filter_taxa` and `filter_items` anyway, so `filter` would just be convenience function.

Below is the code I removed

[code]

[2016-05-31 19:41] zachary-foster opened #107 "Figure out why mutate_* fails on test without hack"
[code]

It works fine interactively, but I get a "cannot find :=" error during tests without the above hack.
This hack might clobber the any grouping variables that are in `.data`.
Perhaps I should use `tbl_df` instead of `tbl_dt`...

[2016-05-31 19:58] zachary-foster commented on #107
I switched to `tbl_df` and the problem went away

[2016-05-31 19:58] #107 closed, assigned to nobody

[2016-05-31 21:00] zachary-foster commented on #91
no longer an issue since I changed to `filter`

[2016-05-31 21:00] #91 closed, assigned to nobody

[2016-05-31 22:14] zachary-foster opened #108 "Get arrange functions to work with taxon_funcs"
Currently `arrange_taxa(obj, desc(item_counts))` does not work because the `item_counts` function is referenced instead of the `item_counts` column generated by `taxon_funcs`. Maybe I could change the call to `item_counts___` or something inside `arrange_*`?

[2016-05-31 22:54] zachary-foster opened #109 "Sorting taxon_data breaks `supertaxa`"
[code]

[2016-05-31 23:43] zachary-foster opened #110 "Make `select_*` work with dplyr internal functions"
This should work:

[code]

However, this might reduce the flexibility of the function.

[2016-05-31 23:51] zachary-foster opened #111 "Add `group_*_by` and `summarize_*`"
Once added these will pretty much complete the `dplyr` tool kit.

[2016-06-03 16:34] zachary-foster opened #112 "Make `ntaxa` and `nitems` utility functions."
Simple convenience functions to get the number of items/taxa in a `classified` object.

[2016-06-03 21:07] zachary-foster commented on #106
fixed in dev

[2016-06-03 21:07] #106 closed, assigned to nobody

[2016-06-03 21:08] #110 closed, assigned to nobody

[2016-06-03 21:09] zachary-foster commented on #109
this is fixed in dev

[2016-06-03 21:09] #109 closed, assigned to nobody

[2016-06-03 21:10] zachary-foster commented on #101
this is done in dev

[2016-06-03 21:10] #101 closed, assigned to nobody

[2016-06-03 21:10] #98 closed, assigned to nobody

[2016-06-03 21:11] #96 closed, assigned to nobody

[2016-06-03 21:14] zachary-foster commented on #76
Its better now, but still not perfect.

[2016-06-03 21:17] zachary-foster commented on #58
This is done with `parse_taxonomy_table`

[2016-06-03 21:17] #58 closed, assigned to nobody

[2016-06-03 21:18] zachary-foster commented on #44
This is good enough for CRAN

[2016-06-03 21:18] #44 closed, assigned to nobody

[2016-06-03 21:20] zachary-foster commented on #10
Sampling with replacement is better done now with `sample_n_items`

[2016-06-03 21:20] #10 closed, assigned to nobody

[2016-06-04 00:50] zachary-foster opened #113 "Look into reading/writing the BIOME format"
http://biom-format.org/index.html

[2016-06-06 14:07] zachary-foster commented on #23
This is so slow due to the NCBI api and there might be some problems with it anyway, so I will hold off on this until the next release

[2016-06-07 00:43] zachary-foster opened #114 "Add `item_ids` column to `item_data` and make `item_counts` count unique values"
This will allow for better support of "long" data formats in `item_data`.
I will also need to modify `items` if I do this.

[2016-06-07 19:51] zachary-foster opened #115 "Finalizing function and option names"
![rplot01](https://cloud.githubusercontent.com/assets/6090555/15872100/87ae4456-2cac-11e6-9dcc-7c393bf468ab.png)

n_children = n_subtaxa_1

Vocabulary:

Name of taxon rank number:
- [ ] taxon_rank
- [ ] taxon_depth
- [x] taxon_level
- [ ] n_supertaxa /  supertaxa_count

Name of taxon counts:
- [ ] subtaxa_count, child_count, supertaxa_count, parent_count / has_parent
- [x] n_subtaxa, n_children, n

[2016-06-07 22:23] zachary-foster opened #116 "Make `recursive` options in `subtaxa` and `supertaxa` accept a number"
this would allow for specifying the number of recursions to do. TRUE/FALSE could still be accepted. FALSE = 1

[2016-06-15 21:54] zachary-foster opened #117 "make `remove_redundant_names` apply to all subtaxa"
The TARA (I think via PR2) taxonomy has hierarchies like:

"Metazoa|Metazoa_X|Metazoa_XX|Metazoa_XXX"

Currently `remove_redundant_names`, which is designed to remove genus names from species binomials, does this:

"Metazoa|X|Metazoa_XX|Metazoa_XXX"

There should be as option to do this:

"Metazoa|X|XX|XXX"

That will make it easy for the user to remove these uninformative taxa with `filter_taxa`

[2016-06-15 22:21] zachary-foster opened #118 "Move legends into plot space if there is a free space available"
This would make plots more compact and would not be too hard too hard to implement in a simple way: leave legend in its current vertical position but base its horizontal position on plot points only at that vertical position, rather than all plot points (as is done currently).

[2016-06-15 23:58] zachary-foster opened #119 "Clean `plot_taxonomy` code that avoids overlapping text"
There is messy redundant code involved in position legends, titles, and defining the range of the plotted area that could be consolidated into one or two functions that take the current set of point data and text data and output the range it occupies while taking into account text size, rotation, and justification.

[2016-06-28 20:50] zachary-foster commented on #118
done in dev

[2016-06-28 20:50] #118 closed, assigned to nobody

[2016-06-30 15:04] #99 closed, assigned to nobody

[2016-06-30 15:04] #117 closed, assigned to nobody

[2016-06-30 17:44] zachary-foster opened #120 "IBD dataset"
http://www.ncbi.nlm.nih.gov/pubmed/23013615

[2016-06-30 18:03] zachary-foster opened #121 "Investigate difference in medians as diff display statistic"
- rarefy per sample
- get median proportion per taxon over samples for each treatment
- plot difference of medians

[2016-06-30 18:04] #115 closed, assigned to nobody

[2016-07-28 21:09] zachary-foster opened #122 "what are plots called?"
- heattree
- metadiversity plot

[2016-08-05 18:25] zachary-foster opened #123 "Make warning/error when class_regex does not match"

[2016-08-05 19:41] zachary-foster opened #124 "remove redundancy in taxon_data_cols_used and obs_data_cols_used"
They share a lot of code

[2016-08-08 05:41] zachary-foster opened #125 "Add option to change rotation of vertex labels"

[2016-08-11 21:05] zachary-foster opened #126 "Make test for `invert` option for `filter_taxon` and add option to other functons"

[2016-08-20 23:57] zachary-foster opened #127 "Make `heat_tree` use Inf and -Inf correctly"
Currently, they get converted to NA somewhere along the way .

[2016-08-24 15:59] zachary-foster commented on #122
heat trees

[2016-08-24 15:59] #122 closed, assigned to nobody

[2016-08-29 17:11] zachary-foster opened #130 "Add parser for nested strucutres"
This would be used on the newick format (https://en.wikipedia.org/wiki/Newick_format) or something like HTML.

[2016-08-31 20:19] zachary-foster commented on #121
There is an example of this on the website and in the publication

[2016-10-05 18:38] zachary-foster opened #131 "Labels set to `NA` still count toward max label limit"

[2016-12-27 23:16] zachary-foster opened #132 "Add explanation for "infinite recursion" error when too many lables"
Here is the error when too many labels are added:

[code]

This can be avoided by changing the maximum recursion depth

[code]

[2016-12-29 17:38] zachary-foster opened #133 "Consider making viridis the defualt color scale"
It is better than mine for perceptual accuracy.

https://mran.microsoft.com/web/packages/viridis/vignettes/intro-to-viridis.html

[2017-03-07 19:23] #121 closed, assigned to nobody

[2017-03-08 16:56] zachary-foster opened #134 "`parse_taxonomy_table`: accept taxonomic information in multiple columns"
This seems to be a common need. See

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/metacoder-discussions/tNSLJI8ezjk

[2017-03-13 23:34] jrherr opened #135 "Best practice to parse data from QIIME"
Hi @zachary-foster!

Thanks so much for your package!

I'm trying to parse the taxonomic information output from QIIME, and I am wondering the best way to do this. With command line tools I have a file that looks like this with thousands of lines:

[code]

Duplicate lines with identical taxonomy are OTUs clustering at 97% with similar taxonomic resolution.

I've been banging my head with ways to p

[2017-03-14 00:17] zachary-foster commented on #135
Hello @jrherr! No problem!

The following code will parse that data:

[code]

[code]

Since only a classification string is present, you don't need the `regex` option, since it defaults to matching the whole input.

Do you think I should add this example to the documentation somewhere? The extract taxonomy tutorial is already pretty long:

https://grunwaldlab.github.io/metacoder_documentation/vign

[2017-03-14 17:38] #119 closed, assigned to nobody

[2017-03-14 21:56] #132 closed, assigned to nobody

[2017-03-15 17:31] zachary-foster commented on #23
This has been done for a while.

[2017-03-15 17:31] #23 closed, assigned to nobody

[2017-03-15 17:42] zachary-foster opened #136 "Add `jitter` option to avoid overlapping node labels"
Ideally, this would actively avoid overlaps using some kind of annealing algorithm. Perhaps modeling the distance between the label center and the node center as a spring balanced against repulsion from other labels.  Maybe look at how ggplot2 does it.

This came up in the Google groups forum:

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/metacoder-discussions/CqtzrnUFO

[2017-03-16 15:19] #92 closed, assigned to nobody

[2017-03-20 17:56] #124 closed, assigned to nobody

[2017-03-23 18:04] zachary-foster opened #137 "Include a CITATION file with info about the publication"

[2017-03-26 03:53] andrluis opened #138 "parse_taxonomy_table issue"
Hey guys:

I trust you are doing great! Thanks for the awesome package you created.

I'm testing metacodeR through the example of 'voting geography' (https://grunwaldlab.github.io/metacoder_documentation/publication--08--voting.html), and am getting errors when running the function parse_taxonomy_table.

Everything before the below command line was being fine.

Then, I got an error here:
##

##
Er

[2017-03-27 18:33] zachary-foster commented on #138
Hi @andrluis, thanks for the report! That example was run using the development version of metacoder, but I forgot to put a notice on the page about that. It should work if you install the development version:

[code]

I will be merging the development version into a CRAN update soon, so it will work with the normal version soon too.

The problem was that the CRAN verison of `parse_taxonomy_table`

[2017-04-03 16:09] zachary-foster opened #139 "heat_tree: output multiple files when given multiple paths"
This would be useful when multiple output formats are needed, since the format can be specified by the file extension.

[2017-04-03 16:11] zachary-foster commented on #138
@andrluis said this worked via Google Groups.

[2017-04-03 16:11] #138 closed, assigned to nobody

[2017-04-03 16:49] zachary-foster commented on #126
This is now being developed in the [taxa](https://github.com/ropenscilabs/taxa) repository

[2017-04-03 16:49] #126 closed, assigned to nobody

[2017-04-03 16:53] zachary-foster commented on #116
This is now in the taxa repo:
https://github.com/ropenscilabs/taxa/issues/34

[2017-04-03 16:53] #116 closed, assigned to nobody

[2017-04-03 16:54] zachary-foster commented on #114
This will be handled by the `taxa` repo by default:

https://github.com/ropenscilabs/taxa

[2017-04-03 16:54] #114 closed, assigned to nobody

[2017-04-03 16:56] zachary-foster commented on #95
This never really worked and I have not seen these layout problems much anymore. I think this has be addressed as much as it is going to be.

[2017-04-03 16:56] #95 closed, assigned to nobody

[2017-04-03 17:56] zachary-foster commented on #103
This has been handled in the taxa repo:

https://github.com/ropenscilabs/taxa

[2017-04-03 17:56] #103 closed, assigned to nobody

[2017-04-03 17:59] #29 closed, assigned to nobody

[2017-04-03 18:00] zachary-foster commented on #24
This is pretty well covered in other vignettes

[2017-04-03 18:00] #24 closed, assigned to nobody

[2017-04-05 05:14] zachary-foster opened #140 "heat_tree: Explicitly setting color without removing legend causes error"
[code]

[code]

[2017-04-10 22:45] wipperman opened #141 "Phyloseq and metacoder"
Can you point me to a tutorial or accessor function for how to take an OTU table + metadata and convert this to a taxmap object, which can then be used to make plots? Is this possible with the package? I see that it is in the future directions in the paper, but am unable to figure it out myself (although am able to run all of the software and the examples!). Thanks so much for the help.

[2017-04-10 23:38] zachary-foster commented on #141
Hi @wipperman! So you have a phyloseq object then? There is no function yet to handle this yet, but I can probably show you how to do it. I plan on adding this, but I am working on rewriting the `taxmap` class in the [taxa](https://github.com/ropenscilabs/taxa) repo, so a lot of upgrades are waiting on that. Once `taxmap` class is more flexible, it will make a lot of these compatibility issues eas

[2017-04-11 14:52] wipperman commented on #141
Sure! Here is some reproducible code that uses sample data from the Phyloseq package. The code will plot a tree on the left, with a differential abundance heatmap on the right, sorted by bodysite. I would like to use your package to show what genera (at any level of taxonomy, Order, Genus, etc) differ between just two of the groups (e.g., skin and soil). As for writing a wrapper function, it is th

[2017-04-19 00:31] zachary-foster commented on #141
Hi  @wipperman, sorry about the delay. Last week was busy.

I have managed to make a less-than-elegant function to convert phyloseq objects to `taxmap` objects for use with metacoder. It will probably be in the dev version shortly. In the mean time, I have pasted it below and an example of how to use it. The code below assumes you have run the code you supplied above and that you are using the dev

[2017-04-19 21:41] wipperman commented on #141
@zachary-foster thanks so much! I am able to reproduce it with my example. One oversight on my part is that OTU tables are usually structured by samples. In the example I gave, the work of merging samples by some variable (ocean, soil, etc) was done for you in the OTU table. A function that takes the OTU table and metadata, and merges many samples that fall into some category for a comparison (hea

[2017-04-20 19:26] zachary-foster commented on #141
No problem @wipperman!

Yea, that is the data structure I am more used to seeing. One of the reasons I am making taxmap more flexible is to make encoding multiple samples per treatment easier to standardize so I can make functions that can interpret this information automatically. What I do currently is just have all samples for all treatments in one of the tables and a separate (i.e. not in the t

[2017-04-22 14:57] wipperman commented on #141
Hey @zachary-foster

Here is a sample file where the sample data slot has "status" with two populations of people (healthy vs treatment). This is about as generic as one could get, and represents how people generally interact with phyloseq-class data. Github will only allow me to upload publically if its extension is .zip--just unarchive the file and substitute the phyloseq object like this:

phy

[2017-04-25 14:36] zachary-foster opened #142 "Look into exporting to taxdb.btd and taxdb.bti"
In email from Matthew Hare:

[2017-04-25 17:23] zachary-foster commented on #142
So this does not seem possible. I asked NCBI for the format and got the following response:

One of the files is binary, so I cannot even guess at what the format is.

[2017-04-25 17:23] #142 closed, assigned to nobody

[2017-05-15 15:38] wipperman commented on #141
Hey @zachary-foster
Just wondering if you were able to view this/get it to load into R? Is there anything else I can help you with? Let me know if you have any other questions!
--Matt

[2017-05-15 23:48] zachary-foster commented on #141
Hi @wipperman,

Yea, thanks, I got it to load in R, but my draft parser does not work with it for some reason. I need to look into it more.

Is your work/research waiting on getting your data into metacoder from phyloseq? If so, I will prioritize getting it to work for you quickly. However, I will soon be reworking the parsing tools of metacoder to handle this kind of thing much better so any quic

[2017-05-16 21:11] wipperman commented on #141
Hey @zachary-foster!
Thank you for the help--it is not a big rush, I wanted to use the graphics in a talk that I am going to give at the end of the month, but if you give it a shot and are unable to get it to work, I'm able to wait and hold off until there is a phyloseq_to_taxmap-type function in your taxa package that I can use. I'll be sure to keep an eye out for it and adapt it. If you do manag

[2017-05-17 00:53] #137 closed, assigned to nobody

[2017-05-17 00:53] #140 closed, assigned to nobody

[2017-05-17 00:53] #123 closed, assigned to nobody

[2017-05-17 00:53] #127 closed, assigned to nobody

[2017-05-23 00:28] #139 closed, assigned to nobody

[2017-06-06 17:16] zachary-foster opened #143 "`subtaxa` errors when `subset` is all FALSE"
[code]

This bug also exists in the `taxa` version of subtaxa. [issue](https://github.com/ropensci/taxa/issues/61)

[code]

[2017-06-06 17:45] zachary-foster commented on #143
Fixed

[2017-06-06 17:45] #143 closed, assigned to nobody

[2017-06-06 17:58] zachary-foster opened #144 "`filter_taxa` throws error when all taxa are filtered out"
[code]

[2017-06-06 18:01] #144 closed, assigned to nobody

[2017-06-06 18:02] zachary-foster opened #145 "`taxmap` print method errors when there are no taxa"
[code]

[2017-06-20 14:00] Wookie777 opened #146 "Integration in mothur pipeline"
Hi,
I want to integrate metacoder in my mother pipeline but I don't realy know how to deal with.

I have 3 output files from the mothur pipeline:
.shared: allocation of samples to number of OTUs
.taxonomy: allocation of OTU to taxonomy
.tax.summary: matrix of different taxlevels/taxa and number in samples

Which file can I use for the input in the **parse_mothur_summary** function?
Or is it necess

[2017-06-22 19:35] zachary-foster commented on #146
Hi @Wookie777! Sorry for the delay, I was in the forest with no Internet for the past few days. We should e able to figure this out. Can you attach the first 10 lines or so of each file so I can take a look at how things are formatted? The `parse_mothur_summary` function will probably work on the `.tax.summary` file, but I will have to check that.

[2017-06-22 20:51] zachary-foster commented on #141
This is how I might parse phyloseq objects once the [taxa](https://github.com/ropensci/taxa) package is integrated:

[code]

This is still being refined, but it seems to work in the dev version of [taxa](https://github.com/ropensci/taxa). @wipperman: I am mostly putting this here for my notes, but I thought you might be interested as well.

[2017-06-22 21:31] wipperman commented on #141
Hey @zachary-foster, I am definitely still interested--let me download the dev version of taxa, and I'll give it a shot/see what I can do. If you have some sample code from the example phyloseq object I gave you, let me know. Additionally, if I get something to work, I'll post it on here. Thanks so much!

[2017-06-22 21:34] zachary-foster commented on #141
Cool, thanks @wipperman! However, the functions in metacoder are not yet adapted to the new `taxmap` class defined in `taxa`. I am working on adapting them now. I would be happy to have your input on the `taxa` package, but the plotting done by `metacoder` will not work with this class yet fyi.

[2017-06-22 21:36] wipperman commented on #141
Gotcha--no problem. I've already downloaded the dev version of taxa so I might as well try to learn what you're doing with it. When it's all ready let me know! Thank you @zachary-foster!

[2017-06-23 07:49] Wookie777 commented on #146
Thanks for the answer. Here are my first lines of the `.tax.summary file` (the names in the first row after total are the sample names).

Thanks for your help!
[code]

[2017-06-23 18:39] zachary-foster commented on #146
Thanks @Wookie777! Yep, that is pretty straight forward. See:

[code]

![rplot](https://user-images.githubusercontent.com/6090555/27495859-886a2daa-5808-11e7-87f1-3656ac4c0c14.png)

[2017-06-26 14:33] Wookie777 commented on #146
Thanks a lot for your help and I hope you can help me again for another problem:
I want to calculate the Read abundance like in the [Human microbiome example](https://grunwaldlab.github.io/metacoder_documentation/publication--05--16s_human_microbiome.html) but I get this error: ```Error in FUN(X[[i]], ...) :
  only defined on a data frame with all numeric variables```.

Here is my code for the exa

[2017-06-26 16:56] zachary-foster commented on #146
Hi @Wookie777, It looks to me that the mothur file already has the totals of reads per sample for each taxon. in the HMP example, the source data started out as read counts per OTU, which then needed to be summed per taxon. I dont think you need to do that here. Make sense?

[2017-06-27 07:13] Wookie777 commented on #146
Sorry but I don't really know what you mean. In my opinion I have to normalize the different samples to compare them. One option is the sub-sampling in the mothur pipeline; the other one is to calculate the abundance of every taxon in every sample.

[2017-06-27 17:28] zachary-foster commented on #146
Sorry about the confusion. The abundance of every taxon in every sample is already in the input file, and therefore in the parsed `taxmap` object as well.  For example, if we look at the first few lines:

[code]

we can see that "Archaea" have 13 reads total (all samples) and 1 read for sample "A_14".  After parsing the data, that information is still present:

[code]

in regards to normalizing sa

[2017-06-28 07:12] Wookie777 commented on #146
This helps a lot. Thanks for your good explanation. Now I get clear and can proceed my data visualization by calculating the read proportion.

[2017-07-05 19:04] zachary-foster commented on #146
Glad to hear it. Is this issue done then? Mind if I close?

[2017-07-10 12:33] #146 closed, assigned to nobody

[2017-07-10 12:33] zachary-foster commented on #145
This has been addressed in the `taxa` package. Once it is integrated, this will no longer be an issue.

[2017-07-10 12:46] zachary-foster opened #147 "Use genetic algorithm to optimally arrange and size arbitrary elements"
The next version of metacoder will likely introduce a more flexible plotting system similar to the `geom`s in ggplot2. Each geom will have parameters that determine its size, color, etc, and return a table of vertex coordinates of the polygons / bounding boxes of text. This will increase flexibility, but cannot be handled by the current overlap avoidance algorithm. Instead, every user parameter th

[2017-07-18 21:04] zachary-foster opened #148 "Look into cophylo plots once branch length is added"
@Tabima and I discussed the possibility of adding a function to produce cophylo plots once branch length is supported. More to come...

[2017-07-20 19:06] zachary-foster commented on #134
This has been implemented in the new [taxa](https://github.com/ropensci/taxa) package, but the current version of metacoder is not compatible with the `taxmap` object from there yet

[2017-07-20 19:08] zachary-foster opened #149 "Remove all code that has been moved to `taxa`"
The [taxa](https://github.com/ropensci/taxa) is now on CRAN, so its time to start adapting metacoder.  First step is to remove all code that is being replaced by the `taxa` implementation.

[2017-07-20 19:45] #149 closed, assigned to nobody

[2017-07-20 20:20] zachary-foster commented on #145
Done

[2017-07-20 20:20] #145 closed, assigned to nobody

[2017-07-20 20:22] zachary-foster opened #150 "Adapt `heat_tree` to the `taxa` version of `taxmap`"

[2017-07-24 17:45] zachary-foster opened #151 "Move example data sets to a separate package"
For some reason, when I made the change to using `taxmap` objects from the `taxa` package, the step "moving datasets to lazyload DB"  during package building started taking a few minutes for some reason. Since I would like to add more larger datasets, the easiest solution might be to move all of the example datasets to a new package hosted on github.

[2017-07-27 18:50] zachary-foster commented on #135
@jrherr, did this work for you?  I am working on adding parsers for each standard format I come across to make things easier. I noticed that QIIME outputs the BIOM format and I just made a parser for that. What command did you get this input from? Thanks!

[2017-07-27 18:52] #113 closed, assigned to nobody

[2017-07-27 18:59] zachary-foster commented on #134
This can now be done with taxa::parse_tax_data

[2017-07-27 18:59] #134 closed, assigned to nobody

[2017-07-28 20:46] zachary-foster commented on #150
Done

[2017-07-28 20:46] #150 closed, assigned to nobody

[2017-07-28 22:34] zachary-foster commented on #141
Hi @wipperman, I have made a draft of the new phylseq object parser that uses the taxa package. I also updated the `heat_tree` function to use this object. There is still more work needed to get things stable enough for a release, but the fundamentals are there.

Previously you said:

I agree, but I have not done that yet. Should not be hard though, assuming all phyloseq objects have sample data a

[2017-07-28 23:28] zachary-foster commented on #112
This is better handled in the taxa package

[2017-07-28 23:28] #112 closed, assigned to nobody

[2017-07-28 23:28] zachary-foster commented on #111
This is better handled by the taxa package

[2017-07-28 23:28] #111 closed, assigned to nobody

[2017-07-28 23:29] #108 closed, assigned to nobody

[2017-07-28 23:30] zachary-foster commented on #102
done

[2017-07-28 23:30] #102 closed, assigned to nobody

[2017-07-28 23:31] zachary-foster commented on #100
closing in favor of #147

[2017-07-28 23:31] #100 closed, assigned to nobody

[2017-07-28 23:32] zachary-foster commented on #90
This is better handled by the taxa package

[2017-07-28 23:32] #90 closed, assigned to nobody

[2017-07-28 23:33] #76 closed, assigned to nobody

[2017-07-28 23:34] zachary-foster commented on #71
This is better handled by the taxa package

[2017-07-28 23:34] #71 closed, assigned to nobody

[2017-07-28 23:34] zachary-foster commented on #55
done

[2017-07-28 23:34] #55 closed, assigned to nobody

[2017-07-30 09:43] wipperman commented on #141
Hey @zachary-foster ...this looks great to me. I've attached the output from your code, and think it looks great!

One idea may be to allow for two continuous color scales to be plotted onto the same tree. So when comparing healthy vs treatment, the differences are more obvious (it's almost like a Circos plot but with an actually phylogenetic tree). Another suggestion is to put in the help section

[2017-07-31 03:06] zachary-foster opened #152 "How to handle phyloseq objects with no tax table?"
https://joey711.github.io/phyloseq/Example-Data.html

`data(esophagus)` does not have a tax_table, but it has a phylogenetic tree. Perhaps a taxmap could be made with the tree instead.

[2017-07-31 03:37] zachary-foster commented on #141
Thanks for trying it out @wipperman! Im glad you like it so far

That can kind of be done by setting the `edge_color` to something different than the `node_color`. I am also planning on making "piecharts" of each of the nodes when more than one value is given per taxon, so that might be an option in the future. You can also compare two samples by subtracting/dividing the values for each taxon, as

[2017-07-31 15:57] zachary-foster opened #153 "Put `otu_table` first in `parse_phyloseq` output"
This will allow `n_obs` to be more useful

[2017-07-31 18:46] zachary-foster opened #154 "Add parser for unite general FASTA"
https://unite.ut.ee/repository.php

[code]

[2017-07-31 18:48] zachary-foster opened #155 "Add parser for UNITE QIIME release"
https://unite.ut.ee/repository.php

Two files:

[code]

and

[code]

[2017-07-31 18:50] zachary-foster opened #156 "Add parser for UNITE Mothur FASTA release"
Similar to QIIME fasta.

https://unite.ut.ee/repository.php

https://www.mothur.org/wiki/UNITE_ITS_database

[2017-07-31 19:02] zachary-foster opened #157 "Add parser for UNITE CREST release"
Looks complicated.

https://unite.ut.ee/repository.php

[2017-07-31 19:03] zachary-foster opened #158 "Add parser for UNITE+INSDC full release"
https://unite.ut.ee/repository.php

[2017-07-31 19:04] zachary-foster opened #159 "Add parser for UNITE USEARCH release"
https://unite.ut.ee/repository.php

[2017-07-31 19:05] zachary-foster opened #160 "Add parser for RDP fasta files"
https://rdp.cme.msu.edu/misc/resources.jsp

[2017-07-31 19:06] zachary-foster opened #161 "Add parser for Greengenes"
http://greengenes.secondgenome.com/downloads

[2017-07-31 19:09] zachary-foster opened #162 "Add parser for SILVA fasta"
https://www.arb-silva.de/download/arb-files/

[2017-07-31 19:15] zachary-foster opened #163 "Add parser for GenBank taxonomy database"
ftp://ftp.ncbi.nlm.nih.gov/pub/taxonomy/

[2017-07-31 19:22] zachary-foster opened #164 "Add parser for ITIS taxonomy database"
https://www.itis.gov/downloads/

[2017-07-31 20:13] #154 closed, assigned to nobody

[2017-08-01 05:59] #153 closed, assigned to nobody

[2017-08-01 06:11] zachary-foster opened #165 "Look into ape nexus parser/converter"
I might be able to use the nexus parser in ape and a converter function to parse nexus files.

[2017-08-01 18:41] #160 closed, assigned to nobody

[2017-08-02 22:10] zachary-foster opened #166 "Add parser for SILVA taxonomy files"
These are different than the FASTA release

https://www.arb-silva.de/no_cache/download/archive/release_128/Exports/taxonomy/

[2017-08-02 22:31] #162 closed, assigned to nobody

[2017-08-04 15:14] zachary-foster opened #167 "Add function to calculate proportions from counts"

[2017-08-04 16:44] #167 closed, assigned to nobody

[2017-08-05 21:56] #161 closed, assigned to nobody

[2017-08-09 14:22] wipperman commented on #141
@zachary-foster So if you wanted to plot both healthy and treatment on the same tree using your above example, how would this be done? Something like this is what I have in mind. I fiddled with changing the edge_color, but although this gave two scales, I don't think it was right. Thanks!

healthy_samples <- obj$data$sam_data$sample_id[obj$data$sam_data$status == "healthy"]
healthy_counts <- obs_a

[2017-08-17 02:36] zachary-foster commented on #141
Hi @wipperman, sorry for the delay! I was traveling when I noticed this issue and forgot to respond until now.

Here is how I typically compare two treatments. This code also uses three new functions: `calc_obs_props`, `calc_taxon_abund`, and `compare_treatments` to make this kind of thing easier. I think `compare_treatments` should address you previous suggestion:

You will have to install the mo

[2017-08-17 16:51] zachary-foster opened #168 "Calculating taxon abundance can be made faster"
By calculating the obs-taxon relationship once, instead of for each sample here:

https://github.com/grunwaldlab/metacoder/blob/72e77a04b34c7dfa425f897512f126330d46d887/R/calculations.R#L262-L266

[2017-08-17 16:52] zachary-foster opened #169 "Remove redundancy in calculation code"
There is some redundant code in the calculation functions that could be pulled out into internal functions.

[2017-08-17 17:57] #168 closed, assigned to nobody

[2017-08-18 19:45] dougwyu opened #170 "filter_taxa collides with command in phyloseq package"
fyi.  the phyloseq package also has a filter_taxa() command, so when I tried run the vignette, i got an error.  After searching help on filter_taxa, i realised that i just needed to use metabarcoder::filter_taxa.

might be worth editing this in your vignette.

lovely package!

[2017-08-18 22:40] zachary-foster commented on #170
Thanks for the report!

Yea, I noticed that recently too. I have not decided whether or not to change the name. Sorry about the error, I will look into that.

Yes, I will do that

Thanks!

FYI, the `filter_taxa` command, as well as all other manipulation functions and the `taxmap` class are being moved to the [taxa](https://github.com/ropensci/taxa) package. The `taxmap` class has been improved th

[2017-08-20 21:20] dougwyu opened #171 "macOS-homebrew-installed primersearch works on the example code"
I ran your example code successfully on a macOS installation, having used homebrew to install primersearch

## Not run:
result <- primersearch(rdp_ex_data,
                       forward = c("U519F" = "CAGYMGCCRCGGKAAHACC"),
                       reverse = c("Arch806R" = "GGACTACNSGGGTMTCTAAT"),
                       mismatch = 10)

heat_tree(result,
          node_size = n_obs,
          node_l

[2017-08-20 21:24] dougwyu opened #172 "dev version not installable"
`devtools::install_github("grunwaldlab/metacoder@dev")`

[2017-08-22 17:27] zachary-foster commented on #172
Thanks for the report @dougwyu

The `dev` branch is not used much anymore. `master` is now used as the development branch and tags/CRAN uploads are used to indicate stable releases. I will update the dev branch to master to solve this issue.

[2017-08-22 17:38] zachary-foster commented on #171
Thanks @dougwyu! I will change the documentation accordingly.

[2017-08-22 17:43] zachary-foster commented on #172
The dev branch has been deleted. I think in the future I will open up new branches for specific large/experimental changes, but not have a generic "dev" branch. Small changes will be committed directly to master

[2017-08-22 17:45] #171 closed, assigned to nobody

[2017-08-22 18:20] dougwyu commented on #172
i'm unable to install metacoder normally now (i.e. install.packages())

Ah, it was the cran mirror that didn't have it.  the RSTudio mirror has metacoder

[2017-08-22 18:23] zachary-foster commented on #172
Odd. I can install normally and with devtools:

[code]

What error do you get?

[2017-08-22 18:34] dougwyu commented on #172
It was the cran mirror that i was using (Cambridge UK).  When i switch to the RStudio global mirror, it works.  i guess there is some propagating that wasn't done.

[2017-08-22 19:14] zachary-foster commented on #172
Ok, good to know. Thanks

[2017-08-22 20:14] #169 closed, assigned to nobody

[2017-08-22 23:28] zachary-foster opened #173 "Look into using ggfittext for labels"
https://github.com/wilkox/ggfittext

[2017-09-21 04:38] zachary-foster opened #175 "Look into using the USEARCH "search_pcr" command for in silico PCR"
http://www.drive5.com/usearch/manual/cmd_search_pcr.html

[2017-10-11 20:41] zachary-foster opened #176 "Add heat_tree option to scale legend text size"

[2017-10-23 16:57] wipperman commented on #141
Hey @zachary-foster --this has been working great for me so far! One additional question that you may want to add to the tutorial page as well is how to determine which color corresponds to which "Treatment". So in the above example, Green is more abundant in healthy and Brown more abundant in Treatment, but for other comparisons, how is the color scheme determined? Is it alphabetical? How can I d

[2017-10-24 17:42] zachary-foster commented on #141
Hi @wipperman, glad to hear it!

Good idea, I will look into this. It depends on the function used. With the default function, it is "sample_1" - "sample_2", with the order of samples the same as they appear in "obj$data$diff_table" is the above example . If the user defines their own function, I cannot determine what the numbers mean however

[2017-10-24 18:27] wipperman commented on #141
@zachary-foster Thanks! I think this will confuse people (or at least it will confuse me!) so adding it to either the output of the function or the help section would be useful.

So just to be clear: using your function "compare_treatments", the output tibble has headers: "taxon_id, treatment_1, treatment_2, log2_median_ratio, median_diff, mean_diff, wilcox_p_value".

The color closest to Node 1 c

[2017-10-24 22:48] zachary-foster commented on #141
I agree, I will add something about this to the documentation.

Thats right. Its `treatmeant_1` - `treatment_2`, so a positive number indicates more in `treatment_1`.

[2017-10-26 11:36] VGalata opened #177 "Error "Must specify db!" though database parameter was set"
Hello,

For some of my queries (FASTA headers from NCBI RefSeq assemblies) I get the error `"Must specify db!"` though the database parameter is set. Here is an example to reproduce the error:

[code]

Output:
[code]

The same call works fine with most of my other FASTA headers, e.g. with `"NC_013791.2 Bacillus pseudofirmus OF4, complete genome"`. Do you know what might cause this error?

Thanks i

[2017-10-26 17:16] zachary-foster commented on #177
Hello @VGalata! Thanks for the report. I will look into this tonight and get back to you.

[2017-11-01 18:57] zachary-foster commented on #177
I think the best solution is to use the dev versions of `metacoder` and `taxa`:

[code]

The `taxa` package has a function called `extract_tax_data` that will shortly replace `extract_taxonomy`, so its probably best to just start using that instead of fixing old code.

[code]

Check out the `taxa` package README for how to use it:

https://github.com/ropensci/taxa

Let me know if you have question

[2017-11-02 10:20] VGalata commented on #177
Dear  @zachary-foster ,

Thank you very much for your reply!

I installed both suggested dev versions and using `extract_tax_data` for the example with `NC_002737.2` worked. However, the obtained result does not match the expected taxonomy:

[code]

Gives me:

[code]

Though I expect [Streptococcus pyogenes M1 GAS](https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=160490).

But, using th

[2017-11-02 16:09] zachary-foster commented on #177
Interesting.. I looked into it some and i looks like `taxize::genbank2uid`, which `taxa` uses internally, is returning multiple taxa for that accession number, one of which is the right one. The others seem to be phages in that genome sequence. The last one is the right one, but `extract_tax_data` is only returning the first.

Any thoughts on this @sckott?

[code]

[2017-11-03 16:28] sckott commented on #177
will have a look 👀

[2017-11-04 16:06] sckott commented on #177
in this commit https://github.com/ropensci/taxize/commit/ac277583b5c61bc6a322a4fbeab67c0bd3d6f732 we added ability to get more than one result as we found out that >1 match can be returned (As you know @zachary-foster ) - not sure how we would know how a particular result is the right one?  in `taxize::get_*` functions we ask people with a prompt, but I imagine that's not what we'd want here

[2017-11-05 05:52] carlos-arnillas opened #178 "Importing phylo object"
Hello
I have a phylo object and a table linked to it with abundances and I want to import it to the taxmap class. Is there are function to easily do it?
Thanks

Carlos Alberto

[2017-11-06 18:31] zachary-foster commented on #178
Hi @carlos-arnillas! A phyloseq object? There is a function in the development version here on github called `parse_phyloseq` that is intended for this, although I cannot guarantee it will work for your data; it is still under development. You can install the development version of metcoder with the following and give it a try:

[code]

Give it a try and let me know if it works.

[2017-11-06 18:36] carlos-arnillas commented on #178
Hi Zachary
Thanks for you soon reply.
Actually, I meant a phylo object from the package ape

Carlos Alberto

On Mon, Nov 6, 2017 at 1:31 PM, Zachary Foster <notifications@github.com>
wrote:

[2017-11-06 18:51] zachary-foster commented on #177
Hi @sckott, Thanks for looking at it. Yea, I remember this headache now. I played around with the NCBI api and might have a solution. Maybe we can use `esummmary` instead of `elink`to get the taxon information.

Running:

`https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esummary.fcgi?db=nucleotide&id=NC_002737`

Results a result with the correct taxon ID. It also might circumvent the problem of a si

[2017-11-06 19:50] zachary-foster commented on #177
@sckott I am working on trying out this on my fork of taxize. I will let you know if it works. Looks promising so far and will probably simplify the code and speed things up a bit.

[2017-11-06 22:02] zachary-foster commented on #178
No problem! Oh, ok. No, not yet, but most of these parsers are pretty easy to make since the abstracted parsers in the `taxa` package do most of the heavy lifting. Can you send me an example of a phyo object or point me to one in the ape documentation I can use?

[2017-11-06 22:02] #172 closed, assigned to nobody

[2017-11-06 23:02] sckott commented on #177
thanks, saw PR

[2017-11-06 23:22] carlos-arnillas commented on #178
you can easily build a random one by using
rcoal(N)
where N is the number of taxa you want in the phyla. (rcoal generates a
coalescent tree, other functions generate non ultra metric trees)

On Mon, Nov 6, 2017 at 5:02 PM, Zachary Foster <notifications@github.com>
wrote:

[2017-11-07 00:21] zachary-foster commented on #178
Cool, thanks, I will take a look

[2017-11-07 01:03] zachary-foster commented on #177
@VGalata, I think we managed to fix that problem. Try it again and see if it works for you.

Now I get:

[code]

[2017-11-08 09:28] VGalata commented on #177
Dear @zachary-foster and @sckott,

Thank you very much for resolving the issue! Everything seems to work now - I have about 14k "bacterial" queries and for all of them I can get a result and the assigned superkingdom is *Bacteria*.

[2017-11-08 09:28] #177 closed, assigned to nobody

[2017-11-09 01:41] zachary-foster commented on #177
@VGalata, great! I am glad to hear it worked on so many. Thanks for letting us know

[2017-11-09 17:26] zachary-foster commented on #173
done

[2017-11-09 17:26] #173 closed, assigned to nobody

[2017-11-09 17:26] zachary-foster commented on #136
Done. option `repel_labels`

[2017-11-09 17:26] #136 closed, assigned to nobody

[2017-11-09 17:28] zachary-foster commented on #39
done. `heat_tree_matrix`

[2017-11-09 17:28] #39 closed, assigned to nobody

[2017-11-14 21:14] zachary-foster commented on #178
I think I have a parser working for you. Reinstall the dev version:

[code]

... and try this:

[code]

[2017-11-14 22:12] carlos-arnillas commented on #178
Thanks!

On Tue, Nov 14, 2017 at 4:14 PM, Zachary Foster <notifications@github.com>
wrote:

[2017-11-15 08:46] zachary-foster opened #179 "Copy over code from ggrepel"
This will avoid the R CMD check note

[2017-11-21 16:46] zachary-foster opened #180 "Add `group` parameter to `calc_taxon_abund`"
This would classify the `cols` into treatment groups, and return one column per group. By default `group = cols`.

[2017-11-21 16:54] zachary-foster opened #181 "Add `remove_redundant_names` back to metacoder"
[code]

[2017-11-21 19:47] zachary-foster commented on #181
added to `taxa` instaead

[2017-11-21 19:47] #181 closed, assigned to nobody

[2017-11-29 17:41] zachary-foster opened #182 "Check that new version of ggrepel works"
From google groups:

[code]

[2017-11-30 15:55] zachary-foster commented on #147
I used this for node overlap optimization, but I think it will be too slow for everything else

[2017-11-30 15:55] #147 closed, assigned to nobody

[2017-12-14 23:42] zachary-foster opened #183 "Add function to remove rows/columns with all zeros"
I started one, but dont have time to polish it before next release. I will put it here for now.

[code]

[2017-12-14 23:44] zachary-foster opened #184 "Abstract (DRY) out groups, out_names, drop option checking"
Almost identical in `calc_n_samples`, and `calc_taxon_abund`.

[2017-12-18 20:55] zachary-foster opened #185 "Add options to modify tree size in `heat_tree_matrix`"
One could modify the size of each small tree in its plotting window

Another could modify the size of the key tree relative to the rest.

[2017-12-19 22:04] zachary-foster opened #186 "Consider not repelling edge lables"
They typically do not overlap anyway and they are at all different angles, which might not work as well.

[2017-12-20 03:44] #179 closed, assigned to nobody

[2017-12-20 03:44] #182 closed, assigned to nobody

[2017-12-20 04:41] zachary-foster opened #187 "Fix travis build issue"
I am getting this error only on the devel travis test:

[code]

I think it is related to this issue:

https://github.com/travis-ci/travis-ci/issues/8887

I am not sure if there is anything I can do at the moment.

[2017-12-20 06:48] zachary-foster commented on #184
This was done in the last few days

[2017-12-20 06:48] #184 closed, assigned to nobody

[2017-12-20 06:49] zachary-foster commented on #187
Fixed!

[2017-12-20 06:49] #187 closed, assigned to nobody

[2017-12-20 06:50] zachary-foster commented on #180
done!

[2017-12-20 06:50] #180 closed, assigned to zachary-foster

[2017-12-20 06:50] zachary-foster commented on #178
Did this work for your data? Can I close this? Thanks!

[2017-12-20 06:54] zachary-foster commented on #65
This has worked for a while

[2017-12-20 06:54] #65 closed, assigned to nobody

[2017-12-20 06:55] zachary-foster commented on #43
I have not encountered this again. I think it must have been a fluke

[2017-12-20 06:55] #43 closed, assigned to nobody

[2017-12-20 06:56] zachary-foster commented on #22
Using `ggfittext`, I dont think this is needed

[2017-12-20 06:56] #22 closed, assigned to nobody

[2017-12-20 17:12] grabear opened #188 "Taxon ids in various data tables do not match up."
I have some data from the QIIME FASTQ Paired End [Nephele Pipeline ](https://nephele.niaid.nih.gov/#form?id=QIIME%20FASTQ%20Paired%20End).  It's qiime data that uses taxonomy strings from the SILVA database.  Anyways, I was able to coerce this data into a phyloseq object, and then into a taxmap object via the instructions found [here](https://github.com/grunwaldlab/metacoder/blob/72e77a04b34c7dfa4

[2017-12-20 20:38] zachary-foster commented on #188
Hello @grabear, thanks for the report!

I cant say for sure without replicating your example (I would need your input files for that), but I think I know what is going on. You checked for IDs in `tax_data`, which is the result of parsing what I assume are OTUs or some other thing with a taxonomic assignment. Those will usually be at the "tips"/"leaves" of the taxonomy, so that table will probably

[2017-12-20 21:13] carlos-arnillas commented on #178
Hi Zachary
Yes... I managed to import my data. Thanks!

Carlos Alberto

On Wed, Dec 20, 2017 at 1:50 AM, Zachary Foster <notifications@github.com>
wrote:

[2017-12-20 21:15] zachary-foster commented on #178
Cool, Thanks!

[2017-12-20 21:15] #178 closed, assigned to nobody

[2017-12-20 22:16] grabear commented on #188
That's correct.

Everything is making sense.  I understand the stuff about `calc_taxon_abund` and how it creates the abundance data per taxon (and not OTU).  And I get why it's not in the tax_data table.

I did this part and there were ton's of NA's.  I was mostly curious about how to coerce the data to fill in the blanks for some of these.  I know this is a taxmap, and I've read the documentation

[2017-12-21 16:26] zachary-foster opened #189 "Add rank information in `parse_phyloseq`"
Related to #188.

[2017-12-21 16:33] zachary-foster commented on #188
Thanks for the kind words!

I see what you mean now. So the `taxon_names` and `taxon_ranks` are functions that pretend to be column names and are associated with taxa 1:1. These functions are run whenever they are referenced in a function like `supetaxa` or `filter_taxa`. You can see all of them by running `master_metacoder$all_names(tables = F, others = F)`. The rank and name information comes fr

[2017-12-21 22:39] zachary-foster commented on #189
Done as of last commit

[2017-12-21 22:39] #189 closed, assigned to nobody

[2017-12-21 22:44] zachary-foster commented on #188
Hi @grabear, I might have the rank info working now. Try reinstalling the taxa and metacoder:

[code]

You should now be able to get the taxon rank information like so:

master_metacoder$taxon_ranks()

And to get it into one of your tables:

master_metacoder$data$my_table$tax_rank <- master_metacoder$taxon_ranks()[master_metacoder$data$my_table$taxon_ids]

Is that what you needed?

[2017-12-23 02:00] zachary-foster opened #190 "Add ability to store sequences in DNAbin for better memory usage"
I can load the SILVA database on my laptop using the ape parser, but not the seqinr parser. It makes an object about 1Gb. It seems that the raw character vector takes about the same amount, but the process of converting to a character takes >6Gb.

[2017-12-27 20:57] zachary-foster opened #191 "Go through documentation before release"
Getting close to a major release, so I should go through the documentation to make sure everything is up to date

[2017-12-28 18:38] grabear commented on #188
@zachary-foster Yes this is what I've been doing to understand my data better.  I read a ton of the taxa documentation and a ton of the metacoder documentation.  It's very well done.  Thanks for putting in all the work!  I might make a PR when I'm finished to help out with the docs.

Thank you so much for getting this in over the holidays.  That works perfectly.  This is what's available to me now

[2017-12-28 22:50] zachary-foster commented on #188
Thank you! We always appreciate any contributions!

There is a function to make replacing the IDs easier in `taxa`. See `?taxa::replace_taxon_ids`. If the NCBI ids are already in your dataset, then that should be easy. If not, you can use some functions in `taxize` to look up the IDs. However, NCBI's servers are slow, so that might take a while if you have a diverse data set.

[2018-01-03 22:39] zachary-foster opened #192 "Add function to visualize primer mismatch to binding sites"
I have this old function that I used to visualize alignments:

[code]

I never finished it exactly and it is not a great fit as is for metacoder anyway, so I am removing it for now. However, the same functionality could be used to make a plot that shows all unique variations in a primer's binding site from the output of `primersearch`.

I am thinking of color-coded sequence alignment of the bindin

[2018-01-05 18:52] zachary-foster opened #193 "Add function to make nested stacked barcharts"
![image_123923953](https://user-images.githubusercontent.com/6090555/34623264-68e5597c-f205-11e7-9303-de3919a97ef9.JPG)

Basically a linear sunburst plot

[2018-01-07 21:30] jarrodscott commented on #141
Hello @zachary-foster

I am attempting to follow the "tutorial" in this thread. any reason I should get `Error: could not find function "compare_treatments"`? Could this possibly have anything to do with my data? Seem unlikely...

I have tried installing the devtools and stable versions. current version of metacoder installed is `‘0.2.0’`
Maybe this has been deprecated in favor of `compare_groups`

[2018-01-08 17:04] zachary-foster commented on #141
Hello @jjscarpa. Yes, `compare_groups` is the name I decided on when I released the package to CRAN a few days ago. It used to be called `compare_treatments`. Its the same function with different option names. I changed it to make it more consistent with the other functions.

Take a look at the readme on this repo for a more up to date tutorial:

https://github.com/grunwaldlab/metacoder

[2018-01-08 17:06] jarrodscott commented on #141
awesome thanks for the info. Really looking into checking out this
analytical approach. Super cool. Thanks again

On Mon, Jan 8, 2018 at 12:04 PM, Zachary Foster <notifications@github.com>
wrote:

[2018-01-08 17:11] zachary-foster commented on #141
No problem, thanks!

[2018-01-08 18:29] zkamvar opened #194 "Create github tag for version 0.2.0"

[2018-01-08 19:19] zachary-foster commented on #194
Thanks @zkamvar! I forgot..

[2018-01-08 19:19] #194 closed, assigned to nobody

[2018-01-09 23:32] zachary-foster opened #195 "heat_tree_matrix assumes dataset is named "diff_table""
Even though there is an option called "dataset" to specify the data used, it still assumes the table is called "diff_table". Causes and error like:

[code]

[2018-01-10 00:15] zachary-foster opened #196 "heat_tree_matrix assumes default color scale"
![rplot](https://user-images.githubusercontent.com/6090555/34749774-2a74cdde-f558-11e7-9914-ef5fb911fc1f.png)

It should probably get its color from the extreme values of color supplied.

[2018-01-10 00:48] zachary-foster opened #197 "heat_tree_matrix expects pairs of treatments to be in a specific order"
It expects treatments to be paired like so:

[code]

but an arrangement like this would also be valid:

[code]

or

[code]

This is fine if the data was produced with `compare_groups`, but a nuisance if the data set came from somewhere else.

This results in some subplots not getting data

![rplot02](https://user-images.githubusercontent.com/6090555/34750578-8dd18030-f55c-11e7-8360-bd5c466c3d3a.pn

[2018-01-10 01:09] #195 closed, assigned to nobody

[2018-01-10 01:09] #197 closed, assigned to nobody

[2018-01-10 01:12] zachary-foster commented on #196
Oops, this is not actually resolved

[2018-01-14 08:07] zachary-foster opened #198 "calc_obs_props errors when `cols` is a factor"
[code]

[2018-01-14 08:25] #198 closed, assigned to nobody

[2018-01-16 17:16] zachary-foster opened #199 "edge_color_interval should be the same as node_color_interval when not supplied"
and node_color is supplied without edge_color.

[2018-01-17 19:07] zachary-foster opened #200 "heat_tree: print warning when not all labels are printed"
If the number is just above the maximum, people might not notice some labels were not printed

[2018-01-19 03:45] zachary-foster opened #201 "Error when building from devtools"
A few people have gotten this error:

[code]

I think it is because there are some .o and .so files comitted and they are being used instead of being recompiled on a user's system. I will try deleting them,

[2018-01-19 21:11] grabear opened #202 "Adding/Removing the Node/Edge legends individually."
An option like _make_legend = FALSE_ could exist for the edge legend and for the node legend separately.
Currently, the _make_legend_ parameter controls both.  In some cases you might only want one or the other.  This might help save space in reference to file size and the plot dimensions.

So in the heat_tree function, there could be a _make_node_legend_ parameter and a _make_edge_legend_ paramet

[2018-01-22 18:07] zachary-foster commented on #202
Hello @grabear, thanks for the suggestion and offer to help!

This was a pretty easy change, so I just when ahead and did it.

Install the dev versions and try:

[code]

[2018-01-22 18:22] zachary-foster opened #205 "`heat_tree_matrix` should always have an aspect ratio of 1:1"

[2018-01-22 18:50] #205 closed, assigned to nobody

[2018-01-22 18:50] zachary-foster commented on #201
This appears to be fixed

[2018-01-22 18:50] #201 closed, assigned to nobody

[2018-01-22 19:54] grabear commented on #202
No problem!  This package is awesome, so I'm excited to contribute once I finish the project I'm working on with metacoder.  Nice update!

[2018-01-22 19:55] grabear opened #206 "Repost from taxa. Parse_phyloseq can't parse phyloseq objects with phylo-trees."
Hello @zachary-foster I'm having an issue with [metacoder's parse_phyloseq function](https://github.com/grunwaldlab/metacoder/blob/d712d7951e2b5ea00e06c5c13fa6bdf9799a126a/R/parsers.R).

When using a phyloseq object that contains a data from a phylogenetic tree, the parse_phyloseq function returns the following:
[code]

When using a phyloseq object without a phylogenetic tree my code runs fine:
[c

[2018-01-22 20:58] zachary-foster commented on #202
Thanks!

[2018-01-23 21:36] zachary-foster opened #207 "consider functions for alpha/beta diversity per taxon"
Usually, diversity stats compare whole communities. Since there is usually a specific group of organisms being worked on (bacteria, fungi), this is implicty the diversity of a taxon. Therefore, we can abstract this to doing calculations on every taxon, with the value of the "root" being the entire "community". This should be possible using `compare_groups` and `heat_tree_matrix`. There might be pa

[2018-01-29 18:14] #202 closed, assigned to nobody

[2018-01-29 18:18] #191 closed, assigned to nobody

[2018-01-29 18:20] zachary-foster commented on #185
This has been done for a while

[2018-01-29 18:20] #185 closed, assigned to nobody

[2018-01-29 18:26] zachary-foster opened #208 "Look into treeio for parsing phylogenetic file formats"
https://bioconductor.org/packages/release/bioc/vignettes/treeio/inst/doc/treeio.html#parsing-beast-output

[2018-02-01 20:52] grabear opened #209 "Adding color to nodes based on specific values of observations."

[2018-02-01 20:52] #209 closed, assigned to nobody

[2018-02-01 21:39] grabear opened #210 "Adding color to nodes based on specific values of observations."
Based on my current workflow, I'm generating a taxmap object with metacoder.  And then I'm plotting the tree like this:
[code]

For my **edge_color** you can see that I did some fairly hacky things.  As you can see below I wanted to use the p value (<0.05 is grey50) to color the edges.  In order to do this I set my interval up with c(0,1), and the color range is a list with the significant color (

[2018-02-01 21:56] zachary-foster commented on #210
I am not sure I understand. To make the colors, only relative differences are used, but the values passed in are what is printed on the legend. Since you have:

[code]

it should work the way I imagine you want. You will be displaying log2_median_ratios between -4 and 4, with no transformation ("linear") and 0 will be "grey90". Any log2_median_ratio greater than or equal to 4 will be red etc. Is t

[2018-02-01 22:07] zachary-foster opened #211 "parse_mothur_tax_summary file parsing error"
I got an email reporting the following error:

[code]

[2018-02-01 22:09] zachary-foster commented on #211
Confirmed:

[code]

[2018-02-01 22:16] #211 closed, assigned to nobody

[2018-02-01 22:20] grabear commented on #210
I know this is confusing.  Part of my issue was with really understanding what the interval was doing.
Now that I get it, I will just leave the node_color_interval alone.

The problem is with the node_color_range.  Since my log2_median_ratio has a minimum of -6 and a maximum of 8, the color scale is not where I desire it to be.  0.0281 is "grey90" instead of 0.

Does this make more sense?  I feel

[2018-02-01 22:27] grabear commented on #210
In particular for log2_median_ratio this problem that I'm having with the node_color_range, doesn't help with representing the data properly.
[code]

Higher abund_1 means a positive number.  Higher in abund_2 means a negative number.

[2018-02-01 22:27] zachary-foster commented on #210
When I use a diverging scale with `node_color_range`, I always set `node_color_interval` to be symmetric, so things get centered at 0. It will still show the actual values on the legend (`node_color_interval` does not scale anything if thats what you are concerned with), but values outside the interval will look the same as the values on the limit. For example if `node_color_interval = c(-1, 1)` a

[2018-02-01 22:31] zachary-foster commented on #210
Maybe there is a bug? Can you attach a the graph that results from the code you posted?

[2018-02-01 23:47] grabear commented on #210
Setting the interval that way to center it on 0 is the reason I was using c(-4, 4).  For some reason I interpreted the interval as a parameter that scaled the node color values.  But instead of altering the scale (which is holistic), you alter what range you're looking at (which is like subsetting).

Thank you for that, and the proceeding explanation.  I have a much better idea of what's happening

[2018-02-02 07:38] zachary-foster commented on #210
As far as I can see, that output looks right. I am happy to see that newlines work in the legend axis labels; I dont think that was ever tested.

Yea, the default it to show the whole range. The `heat_tree` function does not know what kind of plot you are trying to make so it just shows all the data. If I could think of a way of identifying that a diverging scale is being used, I could change the

[2018-02-02 08:23] grabear commented on #210
This is what I was looking for!  Through this thread I realized what I wanted wasn't available.

No worries!  We just have different perspectives.  But I'll look at the interval/range documentation tomorrow, and make a PR linked to here.

[2018-02-02 14:34] Marieag commented on #141
Hi!

I am also very much interested in using metacoder for my project, I've got a phyloseq object I'd like to investigate, but I also hit a snag trying to run your function, I get a `could not find function "parse_taxonomy_table"` .
I would be very happy if you could help me work around it?

I'm running `metacoder v0.2.0.9007`, just downloaded, with R 3.4.3 and newly installed packages, `vegan v2.

[2018-02-02 15:08] zachary-foster commented on #141
Hello @Marieag, are you using the `phyloseq_to_taxmap` that I posted above a while ago? If so, that has been replaced with `parse_phyloseq` included in the metacoder package (try `?metacoder::parse_phyloseq`). I did find a bug in that parser shortly after the last CRAN release, so I suggest you install the dev version:

[code]

You are getting that error because `metacoder::parse_taxonomy_table` h

[2018-02-02 21:19] grabear commented on #210
This could also be implemented by changing how the interval works.  So that you could do something like the following:
[code]

Example implementation:
[code]

Just brainstorming.  Take it with a grain of salt.  Working on docs now.

[2018-02-03 03:09] grabear commented on #210
#212

[2018-02-05 09:39] Marieag commented on #141
Hi, thanks for your reply!

I was indeed using your `phyloseq_to_taxmap` . I reinstalled metacoder and managed to get a taxmap-object using `parse_phyloseq`, but when trying to use it to make heat trees, I get the error

[code]

Any idea what might cause this?

[2018-02-05 19:00] zachary-foster commented on #141
Hmm, hard to say without seeing your object. Can you use `save` to send me the phyloseq object and the code you use to parse and plot it? Thanks

[2018-02-05 19:14] zachary-foster commented on #210
Thanks for the ideas! I will have to think about this more. It would be nice to make a color center on a value, but I am not sure of the best way to implement this yet.

[2018-02-05 22:03] zachary-foster opened #213 "Add warning message when heat_tree cannot pick good size range"
This would suggest using manually setting range or other layout

[2018-02-05 22:32] zachary-foster opened #214 "Look into newick parsing error"
[code]

This was caused by `'` being used to quote node names. If they are filtered out it works.

[code]

Not sure if metacoder should filter these out automatically or this is a malformed input. Something to look into more

[2018-02-05 23:50] Marieag commented on #141
Of course! I should have added that in the last comment.

[Overall.zip](https://github.com/grunwaldlab/metacoder/files/1697221/Overall.zip)

I'm using the following code (let me know if you need more than this, I'm assuming you'll only need the `metacoder` code?)

[code]
I'm getting the same error with both heat tree attempts, and also when running this bit of code on the  GlobalPatterns dataset.

[2018-02-08 05:16] zachary-foster opened #215 "Add startup message"
This should have the version and citation info.

[code]
 in `zzz.R`

[2018-02-13 03:41] ealam opened #216 "How to specify specific groups for a differential heat tree"
I'm still new to R and I was wondering how to amend the "groups = hmp_samples$body_site" code to specify specific groups (e.g. Nose and Stool) for comparison in differential heat tree.

[2018-02-13 17:14] zachary-foster commented on #216
Hello @ealam! I assume you are following the readme example, so I will reply in that context. So you have two options:

**1.** Subset the result of `compare_groups` to just the comparison you are interested:

[code]

This is the same as

[code]

**2.** Only compare the two groups in the first place:

[code]

Since there are only two now, you can use the code like that in the "Comparing two treatme

[2018-02-13 19:38] #215 closed, assigned to nobody

[2018-02-13 22:55] ealam commented on #216
Thank you, this works great!

[2018-02-20 04:17] zachary-foster commented on #206
associated issue in taxa closed

[2018-02-20 04:17] #206 closed, assigned to nobody

[2018-02-20 04:17] zachary-foster commented on #216
Nice, I am going to close this, but you can reopen if new questions arise

[2018-02-20 04:17] #216 closed, assigned to nobody

[2018-02-21 18:35] davised opened #217 "node_color_interval and edge_color_interval not automatically set to same value"
Hi Zach,

When I generate a differential heat tree and set node_color_interval e.g.:

[code]
![image](https://user-images.githubusercontent.com/16343359/36498273-aa79b7d6-16f2-11e8-83ee-07e04a59fd23.png)

See the outlined nodes + edges that have slight differences in color. This is resolved when also setting edge_color_interval e.g.:

[code]
![image](https://user-images.githubusercontent.com/16343

[2018-02-21 18:39] zachary-foster opened #218 "heat_tree: add warning when there are no data for taxa"
This will explain why some taxa are invisible.

[2018-03-07 23:15] grabear opened #219 "(Phyloseq workflow) OTU labels are inaccessible."
I'm currently converting a phyloseq object into a metacoder object.  In my use of metacoder, i wondered where the OTU labels had gone.  They are only visible in my data via the phylogenetic tree (if you include one in your data).

I was wondering if there was a way to import a phyloseq object while preserving the OTU labels (such as _EU774211.1.1284, New.ReferenceOTU1302, New.CleanUp.ReferenceOTU1

[2018-03-07 23:31] grabear commented on #219
This would mostly help keep the data uniform across phyloseq/metacoder and the original data source.

[2018-03-07 23:54] grabear commented on #219
**This has been taken care of in Issue #220 **

[2018-03-08 00:01] grabear opened #220 "(Phyloseq Workflow) Inconsistent information about taxon_ids."
The taxon_ids that are present in the otu_table/tax_data tables are different, but related to the taxon_ids in the tax_table/diff_tables created by coercing the phyloseq object into a taxmap object as shown here.

While the different taxon_ids are obviously just part of the taxmap heirarchy, the confusion could be remedied by including the OTU label for taxon_ids mentioned in #219 that are legitim

[2018-03-08 00:09] grabear commented on #220
[code]

[2018-03-08 00:10] grabear commented on #220
[code]

[2018-03-08 22:39] zachary-foster commented on #219
Hi @grabear, for my test data, it seems the OTU ID is included in the "otu_table" table, right after the taxon_id column

[code]

Although it is not in any of the other tables. In your object, are you not seeing this 'otu_id' column? It is derived from the row names in the `@otu_table` in the input object.

I think a column would work better since OTUs are not per-taxon info, but per-observation i

[2018-03-08 23:14] zachary-foster commented on #220
I am not sure I understand. All of the taxon IDs should come from the same set, the result of `m$taxon_ids()`. If there are taxon IDs (besides `NA`)  that are not in this set, then that is either a bug or the result of filtering using something besides `filter_*`. The otu_table/tax_data tables will usually only contain "leaf" taxa  (e.g. species or genus) since that is what OTUs are usually assign

[2018-03-09 07:31] grabear commented on #219
There is no otu column in any of my tables.  I will gather my thoughts on this tomorrow though after I do some exploratory work with my phyloseq object and it's conversion to metacoder's taxmap object.

[2018-03-09 07:49] #218 closed, assigned to nobody

[2018-03-09 20:11] grabear commented on #219
I'm about to look into this.  Was this particular test data for phyloseq objects? @zachary-foster

[2018-03-09 20:47] grabear commented on #219
This was resolved.  Sorry for the confusion.  I updated my code after [parsing the phyloseq](https://github.com/grunwaldlab/metacoder/blob/master/scratch/issue_141--phyloseq_converter.Rmd) object to include **other_cols = TRUE** when using the _calculation_ functions provided in metacoder.  #221

[2018-03-09 20:57] grabear commented on #219
Adding it to the taxonomy table would be great! @zachary-foster

[2018-03-14 04:37] dougwyu opened #222 "differential heat tree interpretation"
Hi,

could you please help me interpret the attached image?  The sample codes are different habitats:  CL = cropland (i.e. farms), and the other codes are different forest types.  we have metabarcoded insect samples in these habitats and assigned taxonomies using RDP Classifier (0.8 cutoff).

Not surprisingly, cropland is compositionally very different from the forests, and in the differential hea

[2018-03-14 07:43] zachary-foster commented on #222
Hello @dougwyu, sure!

However, the interpretation is dependent on the code you used to make the figure. Did you follow the example on the GitHub readme?

Did you set any differences to 0 that were not significant? If so, this could explain why there are sometimes genera that are not different although their orders are since the variation of read depths could be different between the two ranks.

I

[2018-03-14 07:45] #219 closed, assigned to nobody

[2018-03-15 01:59] amusheg opened #223 "Phyloseq parser results"
Hello! I'm using Metacoder for the first time so I'm still finding my way around. I was working in phyloseq previously, so I used parse_phyloseq to create my taxmap object. However, the resulting object I get seems to be significantly different from what I see in the example vignette. In the example, the tax_data table looks like it has a column for each sample. Mine is just a table of taxon_ids a

[2018-03-15 04:06] zachary-foster commented on #223
Hi @amusheg, can you please paste the result of printing the entire `taxmap` object? (`print(obj)`). Thanks!

[2018-03-15 04:14] amusheg commented on #223
Yes indeed -

[code]

[2018-03-15 04:51] zachary-foster commented on #223
I think I see the confusion now.

The names of the tables are arbitrary; "tax_data" is just the default name generated by `parse_tax_data`, but you could rename it to anything and the examples would work the same as long as you replaced all the refenreces to "tax_data" with the new name. In the case of the `parse_phyloseq` output, the abundance matrix is stored in "otu_table", so just use that nam

[2018-03-15 07:52] zachary-foster opened #224 "Add groups option to calc_obs_props"
This would be useful for get proportions for treatments

[2018-03-15 11:55] amusheg commented on #223
Oh, that's easy! Thank you.

[2018-03-15 12:36] amusheg commented on #223
Hi again - this is not giving me any problems yet, but after reinstalling `taxa` I'm now getting a warning I haven't gotten before when using parse_phyloseq:

[code]
Just wanted to flag this in case this wasn't intended.

[2018-03-15 17:29] zachary-foster commented on #223
Thanks for the feedback. Yea, thats fine. Those are warnings from `parse_tax_data`, used in `parse_phyloseq`, letting you know that datasets 3 and 4 cannot be classified by taxa, which is to be expected. Perhaps I should suppress those warnings in `parse_phyloseq`...

[2018-03-15 19:55] #224 closed, assigned to nobody

[2018-03-15 23:17] amusheg commented on #223
Got it, makes sense! Thank you for clarifying everything so quickly.

[2018-03-16 00:26] zachary-foster commented on #223
No problem!

[2018-03-16 07:10] #223 closed, assigned to nobody

[2018-03-17 10:35] dougwyu commented on #222
Hi Zachary,

sorry for the delay.  My student ran this code, using the code in your tutorial.  I wanted to look at the code again and see if i could figure out myself, but i haven't been able to.

we convert our OTU tables to presence/absence (1/0) data before all community analyses, so if the code below is for read count, it will automatically be for OTU count.

doug

library(metacoder)
library(t

[2018-03-18 01:42] amusheg commented on #224
I was just coming here to ask about something like this. I can imagine doing two different things: 1) setting color or size of a node to the proportion of reads across all samples in a treatment that correspond to a particular taxon, similar to when all samples in a treatment are pooled to make a stacked bar chart or 2) setting color or size of a node to the median proportion of a sample in a give

[2018-03-18 02:01] amusheg opened #226 "n_obs meaning"
Hello! I'm full of questions. Could you help me understand what the n_obs parameter refers to?

The documentation says that n_obs refers to

My interpretation of this is that observations=individuals or reads. So if n_obs for a taxon is 3, that means individuals of that taxon were observed 3 times in a data set.

But the example demonstration, n_obs always seems to refer to the **number of OTUs in

[2018-03-19 07:07] zachary-foster commented on #226
`n_obs` is a function from the `taxa` package. I added some extra description, so now it says:

Does that make more sense?

It refers to the number of rows/items in a data set classified by a taxonomy. Usually that is OTUs, but what it is depends on what the table contains.

It depends on the data set used. The first by default. When using the `n_obs` in a `metacoder` function (`heat_tree`), the f

[2018-03-19 08:20] zachary-foster commented on #222
Yea, thats right. That means the color is the log 2 ratio of median proportions of OTUs rather than reads.

I think it has something to do with you converting counts to presence/absence and calculating proportion of OTUs for each taxon. Since everything is 0 or 1, there are only a few values possible for the proportion of OTUs for each taxon, so the median does not always capture the difference. F

[2018-03-21 00:48] amusheg commented on #226
Thank you! The extra bit of explanation in the documentation is helpful.

[2018-03-21 00:53] zachary-foster commented on #226
Nice, can we close this issue then?

[2018-03-23 12:57] jarrodscott opened #227 "Error using use_total in zero_low_counts command"
Hi @zachary-foster !

I am encountering an error when using `use_total` in ` zero_low_counts`. I get this error using my data as well the `hmp` data

here is the code (from your tutorial)

`print(hmp_otus)`
`print(hmp_samples)`
`obj2 <- parse_tax_data(hmp_otus, class_cols = "lineage", class_sep = ";",
                      class_key = c(tax_rank = "info", tax_name = "taxon_name"),

[2018-03-23 16:29] zachary-foster commented on #227
Thanks for the report!

I think I have it fixed. Try to install the dev version and see if it goes away:

[code]

[2018-03-23 19:25] jarrodscott commented on #227
Thanks! I will try later this evening when in computer and let you know :)

On Friday, March 23, 2018, Zachary Foster <notifications@github.com> wrote:

[2018-03-24 13:57] jarrodscott commented on #227
that works! Thanks @zachary-foster

[2018-03-26 17:51] zachary-foster commented on #227
Cool thanks!

[2018-03-26 17:51] #227 closed, assigned to nobody

[2018-03-28 07:16] xpingli commented on #141
`obj <- filter_obs(obj, "tax_data", ! no_reads, drop_taxa = TRUE)` change the "tax_data" to "otu_table";
'# Calculate per-taxon proportions
obj$data$tax_table <- calc_taxon_abund(obj,
                                       dataset = "otu_table",
                                       cols = obj$data$sam_data$sample_ids)' change $tax_table to $tax_abund

This is what I used to mine as I was followi

[2018-03-29 18:40] zachary-foster commented on #141
Thanks for the input @xpingli!

@Marieag, sorry for not getting back to you; I forgot about this and @xpingli's reply reminded me. I just looked at it and the problem is that you are trying to use "Type" for node color. There are two reasons this does not work:

* "Type" is categorical and metacoder currently does not technically support categorical variables, although we are working on it.
* "Typ

[2018-04-02 00:44] #226 closed, assigned to nobody

[2018-04-02 01:47] amusheg opened #228 "Phyloseq parser error"
Hello,
I installed version 0.2.0.9012 of metacoder because I'd like to use the calc_group_medians function. However, this version seems to have a problem with the phyloseq parser.

[code]
[code]
Please let me know if you need more details.

Thank you!

[2018-04-02 20:38] zachary-foster commented on #228
Hello @amusheg, it looks like you are using the wrong `taxa` repo. It should be "ropensci", not "grunwaldlab". The one on grunwaldlab is probably an old fork.

[code]

[2018-04-02 23:37] amusheg commented on #228
That works. Thank you!

[2018-04-02 23:37] #228 closed, assigned to nobody

[2018-04-05 02:32] grabear opened #229 "Create a gitter.im lobby."
Create a gitter.im lobby for chatting, and add a gitter badge to the README file.  This is the hypothetical link you would use:

[![Join the chat at https://gitter.im/metacoder/Lobby](https://badges.gitter.im/metacoder/Lobby.svg)](https://gitter.im/metacoder/Lobby?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge)

I would create the PR myself, but I think I would have to h

[2018-04-05 06:09] zachary-foster commented on #229
Good idea! I have not got it to work however, maybe a bug or something. It says something like "needs private repo access", but when I click to enable private repo access nothing happens and I cant create a channel anymore. Its odd because `metacoder` is not private.. I will look into this again later.

[2018-04-11 02:16] grabear opened #230 "Rework with ggraph."
Thoughts on reworking metacoder with [ggraph](https://github.com/thomasp85/ggraph)?  I noticed this package the other day and thought about how it could be used here.  It even has a workflow in it's documentation that involves igraph.  That would be a major version update though.

[2018-04-11 03:33] zachary-foster commented on #230
I have not used ggtree or ggraph much. I have considered something like this before and I would be interested in adding something like this as an option (or maybe just a converter to the format ggraph wants), but I dont think I would want to replace the current implementation of `heat_tree` with a `ggraph`-based solution without more convincing, because:

* The appearance of ggplot graphs change w

[2018-04-20 16:46] tarunaaggarwal commented on #141
Hi @zachary-foster,

I'm trying to utilize the commands within this thread but I can't even get past `parse_phyloseq`. I have a merged Phyloseq object, and when I try to parse this object using the parse function, I'm getting `Error: Column taxon_id must be a 1d atomic vector or a list`. I found [this](https://stackoverflow.com/questions/47094086/column-project-must-be-a-1d-atomic-vector-or-a-list

[2018-04-20 16:59] zachary-foster commented on #141
Hello @tarunaaggarwal, sorry for the trouble.

I have not seen that error before. Can you send me the result of `sessionInfo()` and the object using `save(my_obj, file = "my_file_name.RData")`? Its hard for me to diagnose without reproducing the error. Thanks!

[2018-04-20 17:02] tarunaaggarwal commented on #141
Hi @zachary-foster  - Sorry I posted the question before I was ready. I'm working on getting you the files. I will edit my original post. Just need a couple more mins

[2018-04-23 19:40] tarunaaggarwal commented on #141
Hi @zachary-foster. Did my files go through okay?

[2018-04-23 20:01] zachary-foster commented on #141
I don't see them here, did you email them to me?

[2018-04-23 20:07] tarunaaggarwal commented on #141
They are at the bottom of my original post as a link.

[2018-04-23 20:11] zachary-foster commented on #141
Oh, I see them now. Sorry about that. I was expecting to get an email alert, but I guess they don't send out email alerts for recently edited posts. Thanks for the files! I will look at this today.

[2018-04-23 23:24] zachary-foster commented on #141
@tarunaaggarwal,

I think I have it fixed. It was caused `parse_phyloseq` not knowing what to do with the arbitrary rank names in the phyloseq object. I have not seen that before, so I removed the requirements on rank names and it seems to work. You will need to reinstall:

[code]

This works for me:

[code]

Note that there is a parser for the QIIME biome format called `parse_qiime_biom`. This al

[2018-04-24 20:18] tarunaaggarwal commented on #141
Hi @zachary-foster - thank you very much for working on this but unfortunately, I'm still getting errors (different ones now though). I tried both of your parsing commands after reinstalling the repos and  I think these errors are related to installation :-/ Please see the commands and errors below.

[code]
gives the following error

[code]

AND

[code]

gives a similar error.

[code]

[2018-04-24 20:26] zachary-foster commented on #141
Yea, I see those occasionally. Try restarting R/Rstudio. That fixes it when it happens to me. I think it is caused by reinstalling packages that are currently loaded.

[2018-04-24 20:36] tarunaaggarwal commented on #141
Lovely! Thank you so much! Now, I can finally try what others have posted in this issue thread :-) Thank you, @zachary-foster!

[2018-04-24 21:08] zachary-foster commented on #141
No problem! Im glad it worked

[2018-04-26 20:40] tarunaaggarwal commented on #141
Hi @zachary-foster - thank you for your help earlier this week. I ran into another issue that I was hoping to get your help with please. I have a biom table that I parse using your alternative approach and this table contains only ONE sample. Perhaps that is why the `rowSums` is giving an error but I'm not sure.

[code]

[code]

I put this biom table file in the same folder that I shared with you

[2018-04-26 20:58] zachary-foster commented on #141
Hi @tarunaaggarwal, I think it is because `obj$sample_id` does not exist. In the example, there was a table called `hmp_samples` that contained the sample IDs, which were the column names of the abundance matrix. Since you only have one sample,

[code]

should work the same. rowSums is not needed. There are probably other parts of the code you will need to change as well, since you dont have a sam

[2018-04-26 21:36] tarunaaggarwal commented on #141
Ah I see. Lovely! Thanks, @zachary-foster. It is so nice how responsive you are.

[2018-04-26 21:50] tarunaaggarwal commented on #141
Hey @zachary-foster - I forgot to ask you a question. Can Metacoder make graphs for each sample individually? I have a biom table for OTUs associated with single nematodes as samples and if I wish to make a graph for each worm separately, is there an easy way to do that in Metacoder? Also, can I make such separate graphs for a particular taxon such as Fungi only?

[2018-04-26 22:18] zachary-foster commented on #141
It does not do it automatically, but its quite easy to do. You can put the heat_tree command in a loop / apply function and change the column name for the counts you want to graph in each iteration. Something like:

[code]

You could also use a `for` loop.

Yes, even easier. Use `filter_taxa` to subset the data before graphing. If you are only subsetting for the graph, you can use the `%>%` operat

[2018-04-27 05:01] tarunaaggarwal commented on #141
Hey @zachary-foster... So I'm very close to getting the graph for only fungal groups but keep running into an `edge_label` error.

[code]

Error:

[code]

I tried setting the `edge_size` to `taxon_names` but then I keep getting a similar error but for `edge_label` or `node_label_size` or `edge_label_size`, etc.

Please let me know what I'm doing wrong here. Thank you so much!

[2018-04-27 06:47] zachary-foster opened #231 "heat_tree: Make error for when a taxmap object is passed to wrong parameter"
This happens often by mistake when an object is passed to `heat_tree` with `%>%` and also supplied as the first unnamed parameter as in #141.

[2018-04-27 06:47] zachary-foster commented on #141
Hi @tarunaaggarwal, the error is because you gave the `obj` to the `heat_tree` command even though you already passed it in via the `%>%`, so it was trying to use the object for the next undefined parameter, which happened to be `edge_size`. Sorry for the unhelpful error message. Its a common enough mistake that I should make some code to look for it (#231).

 If you have not used `%>%` before: it

[2018-04-27 07:29] grabear commented on #141
@zachary-foster @tarunaaggarwal

Hello guys.  From what I can tell the issue might not be with metacoder, but with the way you've parsed your data in phyloseq.  After taking a look at your .biom files that you linked above it looks like you've used the SILVA database to annotate your data.  Is that correct @tarunaaggarwal?

If you've used SILVA it designates ranks with the D_0__, D_1__, etc. prefi

[2018-04-27 07:45] grabear commented on #141
I made a gist:
https://gist.github.com/grabear/018e86413b19b62a6bb8e72a9adba349

[2018-04-27 17:59] tarunaaggarwal commented on #141
Hey @zachary-foster - Thank you for explaining the `%>%` usage. I have only used it a couple of times in the past and I keep forgetting that it operates like the `|`. It worked! Check out the lovely graph. Once I get the `for` loop to work, I will post my code in a separate issue page for anyone in the future who wishes to use it.

Hi @grabear - I did indeed use the SILVA database. You caught that

[2018-04-27 18:47] grabear commented on #141
The microbiome project I'm working on is the first one I've done.  So it's also the first time I used metacoder.  But in my journey I read [this journal article](https://bmcgenomics.biomedcentral.com/articles/10.1186/s12864-017-3501-4).

I like that SILVA is more up to date (29/09/2016) vs GreenGenes (May 2013).

There's also this:

That whole article was helpful to me.

[2018-04-27 23:00] zachary-foster commented on #141
Thanks for you input @grabear!

@tarunaaggarwal:

Great! I am glad it worked. Anyone know where ascomycota and basidomycota are in SILVA's taxonomy? Seems like they should be there.

Cool, thanks!

[2018-05-04 17:14] akiledal opened #232 "Parsing Error: input(s) could not be matched by the regex supplied following example in README.md"
Processing data very similar to the example in the README.md, I get this error message:

This was working for me before the recent updates, and now with the same code I get this error. Am I missing something or did the update possibly break parsing taxonomy information in this format? Using class_regex = "^(.+)__(.+)$"

Example taxa:

[2018-05-04 19:07] zachary-foster commented on #232
Hello @akiledal, since the update, the function does a bit more checking of inputs and is more picky. Before, it would just call those taxa `NA` I think.

Its because the regex does not match things like " f__". Changing the regex to `"^(.+)__(.*)$"` might work. the `+` means "one or more" and the `*` means "zero or more", so the using `*` instead should allow for blank taxon names.

[code]

[2018-05-05 00:46] akiledal commented on #232
Works wonderfully again with your suggested regex. Thanks for this package and your help here!

[2018-05-07 17:49] zachary-foster commented on #232
No problem! Im glad it worked out

[2018-05-07 17:49] #232 closed, assigned to nobody

[2018-05-09 22:30] zachary-foster opened #233 "Add `calc_prop_samples`"
This would be like `calc_n_samples` except it would return the proportion of samples in each group with greater than some number of reads.

[2018-05-09 22:43] zachary-foster commented on #233
done

[2018-05-18 16:47] grabear commented on #229
@zachary-foster,

Cheers,
Rob Gilmore

[2018-05-18 21:07] zachary-foster commented on #229
Thanks @grabear! I dont know anything about ZenHub. Feel free to set it up. Gitter sounds great. What permissions would you need to set those up?

If you wanted to do some coding, there are a few things that have been on the wish list for a while that I dont see myself getting to anytime soon. How about this one: https://github.com/grunwaldlab/metacoder/issues/105

Thanks for the offer to help!

[2018-05-21 08:03] #94 closed, assigned to nobody

[2018-05-21 08:04] zachary-foster commented on #27
This is handled by a function in `taxa` now

[2018-05-21 08:04] #27 closed, assigned to nobody

[2018-05-22 16:42] grabear commented on #229
I'd need to be a contributor with read and write permissions (I think).  When I get back to my lab, I'll give you a better answer.

[2018-05-25 17:19] grabear commented on #229
@zachary-foster

So for Gitter, I would need to be added as a member of your organization, and then I would need to be added as a collaborator to the repository.  From there I should be able to properly set up the gitter lobby.

For ZenHub, you need to go to www.ZenHub.com and install their browser [extension for chrome or firefox](https://www.zenhub.com/extension) (do you use one of these?)  Afte

[2018-05-26 01:05] zachary-foster commented on #229
Thanks for the info @grabear! I am heading out for some camping for the next few days. When I get back I will look over all this in more detail.

[2018-05-30 18:30] zachary-foster commented on #229
I am going to talk to my advisor @grunwald about this when he gets back tomorrow. I was messing around with gitter and I think he might need to make it since its his organization.

I think I have it working. Thanks for the info!

Great! Let me know if you have any questions. Thanks again!

What do you mean by "correlation plots"?

[2018-05-30 20:27] grabear opened #234 "Add correlation plots? Or any other helpful plots."
By correlation plots (#229) I just mean a scatter plot comparing two variables.  Below I've given a use case example from one of our labs projects [vallenderlab](https://github.com/vallenderlab) [also datasnakes](https://github.com/datasnakes).

## Vallender Lab Microbiome Project

* _Stressed_ samples and _Control_ samples
* Used log2 mean ratio of abundance before and after stress
* Used a log b

[2018-05-30 20:28] grabear commented on #229
Glad you got ZenHub working.  It takes a little getting used to, but the Epics that you can create are invaluable.

@zachary-foster I created another issue to explain correlation plots #234

[2018-05-30 20:34] grabear commented on #229
Also thanks for adding me to metacoder.  I'm excited to work on it.

[2018-05-30 21:02] grabear opened #235 "Grabear's contribution wish list."
Other than what we've already discussed, I'd like to work on some things listed below.  I tend to enjoy micromanaging things, so please let me know if I'm stepping on your toes or if you desire something different.  In the end I just want to help out.

## Add Labels

I discovered zenhub a long time ago, but I recently started using it more.  Especially for bigger projects.  I've also started using

[2018-05-30 21:07] grabear commented on #235
@zachary-foster If you'd like to correspond via email, then you can reach me at robgilmore127@gmail.com

[2018-05-30 21:10] zachary-foster commented on #234
Cool, I like it! It seems like the output of `compare_groups` would work well for this. A few thoughts:

* How to determine which taxa are displayed? There will not always be rank information and perhaps people might what to have taxa of different ranks. Perhaps the simplest and most versatile option is just to plot all taxa and expect the user the use `filter_taxa` before plotting and `%>%` the r

[2018-05-30 21:23] zachary-foster commented on #235
Looks good to me. Go for it!

I don't think I understand this completely yet, but it seems like a useful tool. Seems like this would be a good way to group together the `heat tree rewrite` issues. I want to go through the heat tree code and have it use `taxa` internally, clean things up, and add some features while I am at it.

No problem! I appreciate the help! I will let you know if I want to do

[2018-05-31 03:19] grabear commented on #234
@zachary-foster That's exactly what I did with the correlation plots lol.  I'll type up a gist tomorrow and show you how I did it.  Pretty simple stuff.

Also, I really need to go back through all of the functions again with the test data.  I feel like I haven't used some of the functions or don't understand a few of them.  I really explored your functions pretty hard though, so I think I have a h

[2018-05-31 03:22] grabear commented on #234
What do you think about a table containing some key statistical output from the _compare_groups_ function?  Maybe unnecessary, but it was another thing I did for the same project:

![image](https://user-images.githubusercontent.com/20953530/40759494-f2b7c6e8-6457-11e8-83f3-8ac429ee0203.png)

[2018-05-31 11:09] ilnamkang opened #236 "A warning message from 'parse_mothur_tax_summary'"
Hi,

I get a warning message when I run 'parse_mothur_tax_summary' for my taxonomy summary file from Mothur. Below is my command and messages copied from the console. I used Mothur ver. 1.40.3 and classified sequences using Silva132 reference files downloaded from the Mothur homepage.

What should I do to avoid this warning?

<Taxmap>
  1673 taxa: aab. Root, aac. Bacteria ... cmi. Roseibacillus, c

[2018-05-31 16:04] zachary-foster commented on #236
Hello @ilnamkang, thanks for the report. You don't need to worry about that warning. At one point we had a problem with non-standard evaluation confusing external variables with column names, but I think that is fixed now. We will be removing removing that warning from the next release.

[2018-05-31 20:22] zachary-foster commented on #234
Like a table ready to used in Rmarkdown? How would this differ from the current output of compare_groups?

[2018-06-01 01:40] ilnamkang commented on #236
Oh, I see. Thanks for your reply.

[2018-06-01 03:29] #236 closed, assigned to nobody

[2018-06-05 05:29] grabear commented on #234
Yes, this would be a table that's markdown ready.

The current tibble returned by compare_groups looks a bit different.  Below I've added the diff_table I created using a custom function for generating other statistics:

[code]
The difference is that there are only select variables (columns) in the publication ready table, and the data is agglomerated by a specific rank (Phylum in the example).  O

[2018-06-06 00:48] zachary-foster commented on #234
Ok, I think I get it now. Yea, I think this could be useful! It could be abstracted to a function that combines per-taxon info from multiple tables (anything in `obj$all_names()` or any external variable named by taxon ids) into a single table. It would error if told to use data with multiple values per taxon. There could be a TRUE/FALSE option to return a markdown-ready table using `knitr::kable`

[2018-06-07 13:53] zachary-foster opened #237 "Look for common variable typo errors in `heat_tree`"
Using `taxon_name` instead of `taxon_names` makes a hard to interpret error message:

[code]

`taxon_ranks`/`taxon_rank` too, possibly others.

Error should say something like: "did you mean `taxon_names`?"

[2018-06-07 14:04] zachary-foster opened #238 "Allow heat tree settings to be based on previous settings"
This would work like `mutate` does. EG:

[code]

[2018-06-12 21:50] tarunaaggarwal commented on #141
Hey @zachary-foster - I'm getting back to metacoder this week so I'm sorry I just noticed that you asked a question in your response. I just grep'd for D_5__Ascomycota and D_5__Basidiomycota in the taxonomy file that comes with SILVA (v132) and I found **3402** and **2443** OTUs containing **D_5__Ascomycota** and **D_5__Basidiomycota**, respectively, using the `consensus_taxonomy_all_levels.txt`.

[2018-06-12 21:57] grabear commented on #141
I believe Qiime uses the 7 level taxonomy file @tarunaaggarwal.  Not sure of other software that uses SILVA, so that's my only reference.

[2018-06-13 17:30] tarunaaggarwal commented on #141
Hey @grabear - I thought you can specify any taxonomy file with any number of levels in Qiime. Either way, if I need more levels, I just replace the taxonomy strings with all 14 levels using a quick Python script.

So how is Metacoder working out for you? I ask because I have been thinking of ways to make it work best for our lab. Ideally, I want to import the biom table (without taxonomy info), m

[2018-06-13 17:32] zachary-foster commented on #141
@tarunaaggarwal, I just ask because I did not see any fungal phyla in your plot and having them there would make it look better perhaps. Did they get filtered out before plotting?

[2018-06-13 17:37] tarunaaggarwal commented on #141
Hey @zachary-foster! Oh I see. Those levels were not present in the 7 level taxonomy file we used to classify the OTUs I believe. Hence, they were missing. I have another question for you Zach. Is it possible to import the biom table (without taxonomy info), mapping file and a taxonomy file into metacoder without Phyloseq?

[2018-06-13 17:39] zachary-foster commented on #141
So the biome file has an abundance matrix but no tax info? If you send me an example of each, I can probably tell you how to do it. Anything tabular for sure. I do have a biome parser as well, although I have never tried reading one without taxonomy info.

[2018-06-13 17:53] tarunaaggarwal commented on #141
Thanks @zachary-foster ! [Here](https://www.dropbox.com/sh/narv17v5z7vxahf/AABEURI2FmWAEuZPvaesAETQa?dl=0) is the folder containing both types of biom tables - with and without tax. The one without taxonomy info is accompanied with a taxonomy file. I hope I'm not creating too much work for you. THANKS for your help!

[2018-06-13 18:02] grabear commented on #141
Is there some reason that you need to use a biom file without taxonomies?

[2018-06-13 18:09] tarunaaggarwal commented on #141
@grabear Sort of. We just reassigned taxonomy with SILVA 132 and I'd rather just find a way to work with the new taxonomy within R than to have to add to the biom table and refilter all over again. If its not feasible, its not the end of the world.

[2018-06-13 19:59] zachary-foster commented on #141
@tarunaaggarwal, no problem! I found a way to do it:

with taxonomy
-------------

[code]

[code]

[code]

    ## <Taxmap>
    ##   521 taxa: ab. D_0__Eukaryota ... ub. D_11__Norrlinia[truncated]
    ##   521 edges: NA->ab, ab->ac, ab->ad ... kd->tz, lq->ua, lr->ub
    ##   1 data sets:
    ##     otu_table:
    ##       # A tibble: 30,871 x 283
    ##         taxon_id otu_id   MEMB.nem.105 MEMB.n

[2018-06-13 20:33] tarunaaggarwal commented on #141
@zachary-foster Nice! I will try this right away. And how to import the mapping file please?

[2018-06-13 21:09] zachary-foster commented on #141
Oh yea, the mapping file. It has no taxonomic info associated with it, so it can stay a separate table. The `taxmap` object is only concerned with data that has taxonomic info associated with it, unlike `phyloseq` objects. You could put the mapping file in there, but it would not help anything. I like the `readr` package for tabular data:

[code]

If you want, you could add it to the `taxmap` obje

[2018-06-14 16:44] tarunaaggarwal commented on #141
Morning @zachary-foster - may I please have your email address?

[2018-06-14 17:02] zachary-foster commented on #141
Sure, its `zacharyfoster1989` a `gmail.com`

[2018-06-14 18:08] tarunaaggarwal commented on #141
Thanks! I emailed ya.

[2018-06-15 22:40] zachary-foster commented on #237
Done in write_phyloseq branch

[2018-06-15 22:40] #237 closed, assigned to nobody

[2018-07-02 19:05] tarunaaggarwal opened #239 "Taxon ranks are not being found"
Hi @zachary-foster -- I have been able to get my files from Qiime 2 into metacoder, but I'm having a hard time trying to assign taxonomic ranks to each level. Below is my script and [here](https://www.dropbox.com/sh/6li93lnficxise7/AAAtIWuSUqD0-cHN1mGf44VAa?dl=0) are my files.

[code]

The output of `obj$data$class_data` is `NULL` and the output of `head(obj$taxon_ranks())` is
`aab aac aad aae aaf

[2018-07-02 21:57] tarunaaggarwal commented on #239
Hi @zachary-foster - I figured out why the taxon ranks were not being found. The first capture group in the regex was missing parentheses. So now my taxon ranks look like this:

[code]

Is there another best way to specify that `D_0` is the "domain", `D_1` is the "phylum", etc, etc?

Also, can I use the `filter` function to separate a single sample for making a heat tree rather than all the sample

[2018-07-03 18:48] zachary-foster commented on #239
I am working on making this easier, but right now its a bit annoying to do:

[code]

You can plot the abundance for a single sample without filtering by giving calculating the taxon abundance per sample and giving the column name for that sample to heat tree. Something like:

[code]

[2018-07-07 16:24] Gian77 opened #240 "ERRROR in heat_tree_matrix - missing value where TRUE/FALSE needed"
Hello,
I am new with this package. I have tibble with a variable that contain 3 levels (treatments). I am trying to plot differential heat trees that shows differential abundances between the different treatments. However, I encountered the following error:

`> obj$data$diff_table
`# A tibble: 5,094 x 7
 `  taxon_id treatment_1 treatment_2 log2_median_ratio median_diff mean_diff wilcox_p_value
`

[2018-07-08 00:55] zachary-foster commented on #240
Hello @Gian77! Can you please send me the data to reproduce this error? You can send part of the raw data and the code to reproduce the error or just use the `save` function to save a copy of `obj` and send that. Thanks!

[2018-07-10 14:07] laracp opened #241 "Set any differences to 0 that were not significant in metacoder"
Hi @zachary-foster
I am currently running through the metacoder tutorial. At the end of the compare two groups section, there is a comment right after we test for significant differences between two groups:

"... but if there still were some significant differences, we could set any difference that is not significant to zero and repeat the last heat_tree command."

I can't seem to figure out how t

[2018-07-11 03:33] Gian77 commented on #240
Hello  @zachary-foster,

I had my data subsetted and I still have the same error. Please find the `save(obj, file = "obj_filt.RData")` of the object attached below.

Thanks a lot for troubleshooting this,

Gian

[obj_filt.RData.zip](https://github.com/grunwaldlab/metacoder/files/2182841/obj_filt.RData.zip)

[2018-07-11 22:04] zachary-foster commented on #241
Hi Lara,

Thanks for you kind words

No problem. It be done like so:

[code]

You need to do this yourself, since the `heat_tree` and `heat_tree_matrix` functions make no assumptions about what you are plotting, since they might be used for many different things.

[2018-07-12 09:25] laracp commented on #241
Hi @zachary-foster,

Thank you for your reply and help!

I just ran the code and it appears to have set all of the p-values > 0.05 to 0 rather than the differences that were not significant to zero.

When I re-run the heat tree, it looks identical to the previous one before adjusting. I'm assuming we need to set non-significant log-2 ratio of median proportions to zero so they will not be plotted?

[2018-07-12 23:00] zachary-foster commented on #241
Oh yea, sorry about that. Yes, I meant:

[code]

[2018-07-13 07:06] laracp commented on #241
Wonderful! Thanks again for your fast replies and help. It is very much appreciated on this end.

-Lara

[2018-07-14 07:42] zachary-foster commented on #241
No problem!

[2018-07-14 07:42] #241 closed, assigned to nobody

[2018-07-14 22:52] zachary-foster commented on #240
Hi @Gian77, no problem, I think I fixed it. It was caused by the treatment columns being factors instead of characters. It should work with both factors and characters now. Try reinstalling the dev version and let me know if it still happens. Thanks!

[code]

[2018-07-19 16:14] akiledal commented on #240
Hi @zachary-foster, using the latest dev version I'm also seeing this or a similar issue when attempting to make a heat tree matrix from the attached `obj` .

                                      cols = met_samples$sample_id,
                                      groups = met_samples$year_mit, combinations = list(c("2013_mitigated","2014_mitigated"),c("2013_unmitigated","2014_unmitigated")))

[2018-07-19 16:24] akiledal opened #242 "Color legend"
Would it be possible to automatically add labels to the color scale based on groups/treatments being compared? I've been manually adding them in, but it seems like something that could easily be added to the package (unless I'm missing an existing feature) and greatly improve ease of output interpretation.

![group_labels](https://user-images.githubusercontent.com/31629269/42956674-96e741cc-8b4e-1

[2018-07-20 01:27] zachary-foster commented on #242
Hi @akiledal. Great idea! I will look into it.

[2018-07-30 18:37] raw937 opened #243 "phyloseq filtering errors"
y <- parse_phyloseq(fil_nifH)
Warning messages:
1: There is no "taxon_id" column in the data set "3", so there are no taxon IDs.
2: The data set "4" is named, but not named by taxon ids.

y
<Taxmap>
  5163 taxa: aab. k__bacteria, aac. k__archaea ... hqp. s__borrelia spielmanii
  5163 edges: NA->aab, NA->aac, aab->aad, aab->aae ... cre->hqm, bjf->hqn, blu->hqo, bwl->hqp
  4 data sets:
    otu_table

[2018-08-01 01:52] Gian77 commented on #240
Hello @zachary-foster,

I downloaded the dev version you have corrected and it worked. Thanks a lot for fixing it and for the great package.

The only thing are a series of warnings that I think are not compromising the results of the analysis, what do you think?

`> heat_tree_matrix(obj,`
`+                       dataset = "diff_table",`
`+                       node_size = n_obs,`
`+

[2018-08-01 16:57] zachary-foster commented on #240
Hi Gian,

Thanks! Im glad to hear its working. You can ignore those warnings. They will not cause any problems and they should be fixed in the most recent development version.

[2018-08-01 16:59] zachary-foster commented on #243
Hello @raw937, thanks for the report! I am traveling right now, so it might be a few days before I can look into this.

[2018-08-10 11:57] zachary-foster commented on #243
Hello @raw937, I am sorry for the delay.

I think the problem is that `filter_taxa` is the name of a function in `phyloseq` as well as the name of a function in `taxa`, so you have to specify that you want the `taxa` function using `taxa::filter_taxa(...)`.

We are trying to find a solution to this inconvenience.

These warning messages are normal I think:

[code]

because not all the data in a ph

[2018-08-10 12:05] zachary-foster opened #244 "`compare_groups`: allow comparisions with more than one grouping variable"
Instead of:

[code]

allow

[code]

or

[code]

This would compare every unique combination of sex and body site.
Instead of the "treatment_1" and "treatment_2" columns, the output in this example would have  "sex_1", "site_1", "sex_2", and "site_2" columns.

This was requested by a user and is similar to something @grunwald wanted as well.

[2018-08-10 12:08] zachary-foster commented on #222
closing due to inactivity. Let me know if you want to discuss this more

[2018-08-10 12:08] #222 closed, assigned to nobody

[2018-08-10 12:12] zachary-foster commented on #190
This has been handled by recent changes to `taxa`

[2018-08-10 12:12] #190 closed, assigned to nobody

[2018-08-10 19:55] raw937 commented on #243
No worries mate. So huh?

 x <- parse_phyloseq(GlobalPatterns)
Warning messages:
1: The following 17865 of 19216 input indexes have `NA` in their classifications:
   1, 2, 4, 5, 6, 7, 8, 9, 10, 11 ... 19207, 19208, 19210, 19211, 19212, 19213, 19214, 19215, 19216
2: There is no "taxon_id" column in the data set "3", so there are no taxon IDs.
3: The data set "4" is named, but not named by taxon ids

[2018-08-10 20:29] zachary-foster commented on #243
You need to replace `filter_taxa` with `taxa::filter_taxa`, or load metacoder after phyloseq. You are calling the phyloseq function `filter_taxa` on a `taxmap` object, which is causing the error . You need the `filter_taxa` from the `taxa` package, which is loaded when you load `metacoder`.

Also, `name` needs to be `taxon_names`

try:

[code]

The `::` specifies which package a function comes fro

[2018-08-10 21:01] raw937 commented on #243
Thank you! That produced a tree  = neat.

Warning messages:
1: There is no "taxon_id" column in the data set "3", so there are no taxon IDs.
2: The data set "4" is named, but not named by taxon ids.
3: In GA::ga(type = "real-valued", fitness = function(x) optimality_stat(x[1],  :
  'min' arg is deprecated. Use 'lower' instead.
4: In GA::ga(type = "real-valued", fitness = function(x) optimality_sta

[2018-08-10 21:43] zachary-foster commented on #243
No problem!

All those warnings can be ignored. First two are from the function that `parse_phyloseq` uses. I think I will suppress those in a future release, since they are expected most the time. Normally you dont need to put data in a `taxmap` object that is not classified by a taxonomy and that is what the warnings are complaining about, but I do it in this case to preserve all the info in phy

[2018-08-10 21:55] raw937 commented on #243
Again thank you! I will start here then if I get stuck I will message back.

[2018-08-14 23:05] tarunaaggarwal opened #245 "Diff table is not being calculated"
Hi @zachary-foster - I'm trying to calculate a diff table to compare some Ocean Regions in the sample mapping file, but I keep getting the following error.

1. I'm not sure why the `Confidence` col is being treated like a sample.
2. How to fix the error below?

Error:
[code]

Code:

[code]

Files are [here](https://www.dropbox.com/sh/6li93lnficxise7/AAAtIWuSUqD0-cHN1mGf44VAa?dl=0)

THANK YOU!

[2018-08-17 22:59] zachary-foster commented on #245
Hello @tarunaaggarwal,

The issue is that `obj$data$sam_data$SampleID` does not exist, so you gave the function `NULL` in that case.
In this case, the sample data table is on its own and called `sample_data`. See the below modified code where I have made a few changes. I did notice that you have some `NA`s in your data and this was not handled well by a few functions. I fixed them, so if you reins

[2018-08-19 02:32] shigdon opened #246 "Using MetacodeR with Sourmash LCA output"
Hello @zachary-foster,

I have microbial classification data that was generated using [Sourmash](https://github.com/dib-lab/sourmash), and now I would like to visualize with metacoder. I am struggling to read in the taxmap object file based on the input `csv` file format. The data I am trying to read in as a taxmap object has the following format (sample_id, superkingdom, phylum, class, order, fam

[2018-08-20 19:41] zachary-foster commented on #246
HEllo @shigdon,

Try this:

[code]

Let me know if you have problems

[2018-08-20 20:00] shigdon commented on #246
Thank you very much @zachary-foster ! I now have a beautiful starting point for the plot. I will continue to use and explore the features of this package!

[2018-08-20 20:25] zachary-foster commented on #246
Great, thanks!

[2018-08-20 20:25] #246 closed, assigned to nobody

[2018-08-20 23:40] tarunaaggarwal commented on #245
Hey @zachary-foster - thank you for your help and noticing the NAs in my file. Even though I downloaded the dev version, I'm still getting an error about the NAs when I try to make the heat tree matrix. It appears that despite this error message, the heat tree function should work, but no plot shows up at all. And I'm also trying to:

1. Increase the font size of the node labels because they're su

[2018-08-22 12:16] StefanPfeiffer80 opened #247 "Compare_groups with phyloseq derived file"
Hi Zach,
I started to use metacoder and I think it is really a very interesting tool.
I am using it with a phyloseq object, and I have a question regarding compare_groups when using data from phyloseq objects.
First I parsed phyloseq, then print the taxmap file:
[code]
I realize that OTU table is the tax_data from the tutorial, but that does not seem to be a problem.
Making a heat_tree works.

But

[2018-08-22 16:17] zachary-foster commented on #247
Hello Stefan,

I looks like you might be using an older version of metacoder. Make sure the package is up to date and try:

[code]

The sample data table can be separate or included in the taxmap object. The only reason it is included in the taxmap object here is because it was included in the phyloseq object

[2018-08-22 17:26] zachary-foster commented on #245
It looks like you input files have changed, so I cant test anything, but I see a few potential problems.

The "output_file" should have a file extension, so `heat_tree` knows what format to save the file in. PDF is a good one.

I am not sure why you get the NA warning about node_label. Is the taxon "aac" named NA in the taxmap object?

The units of `node_label_size_range` are proportions of plotti

[2018-08-23 08:38] StefanPfeiffer80 commented on #247
Thank you Zach for the quick reply.
I have reinstalled, now I have package v.0.2.1.9011, compare_groups is in it so I guess it is right.
However, I got another error:
[code]
I also went again through your tutorials and I  wonder if the problem is in my phyloseq derived Taxmap object (see below). What do you think?
[code]

[2018-08-23 15:25] zachary-foster commented on #247
Hi Stefan,

I think I have seen this before recently. Does  `obj$sample_data$sample_id` and `obj$sample_data$Sex` exist in your case, or are they `NULL`?

[2018-08-24 11:57] StefanPfeiffer80 commented on #247
Thanks Zach,
in fact they were ```NULL```, typing ```obj$data$sample_data$sample_id``` made it work.

[2018-08-24 16:43] zachary-foster commented on #247
Great! Let me know if you have other questions

[2018-08-24 16:43] #247 closed, assigned to nobody

[2018-08-27 18:08] zachary-foster commented on #243
Closing for now. Let me know if you have other issues

[2018-08-29 17:24] raw937 opened #248 "missing taxon_id column - bad upload from phyloseq"
Hello,

I have been trying to upload and parse the data.

y <- parse_phyloseq(fil_nifH_out)
Warning messages:
1: There is no "taxon_id" column in the data set "3", so there are no taxon IDs.
2: The data set "4" is named, but not named by taxon ids.

Then trying to filter out low counts
y$data$tax_data <- zero_low_counts(y, dataset = "tax_data", min_count = 5)
No `cols` specified and no numeric col

[2018-08-29 17:52] raw937 commented on #243
New error -

+           node_size = n_obs,
+           node_label = taxon_names,
+           node_color = n_obs,
+           layout = "fruchterman-reingold")
NULL
Warning messages:
1: There is no "taxon_id" column in the data set "3", so there are no taxon IDs.
2: The data set "4" is named, but not named by taxon ids.
3: In heat_tree.default(taxon_id = character(0), supertaxon_id = character(0),

[2018-08-29 17:52] raw937 commented on #243
heat_tree(taxa::filter_taxa(y, taxon_names == "k__archaea", subtaxa = TRUE),
          node_size = n_obs,
          node_label = taxon_names,
          node_color = n_obs,
          layout = "fruchterman-reingold")

[2018-08-29 18:11] zachary-foster commented on #248
Does `y` have a dataset called `"tax_data"`? Can you show me the print out for `y`? Thanks

[2018-08-29 20:03] zachary-foster commented on #248
I think I know what is going on. In a phyloseq object "tax_data" is the taxonomic classifications. "otu_table" is the abundance matrix. If you dont say which columns you want to use, `zero_low_counts` looks for numeric columns. There are no numeric columns in y$data$tax_data, so it threw an error. Try:

[code]

[2018-08-29 20:04] zachary-foster commented on #243
What does `taxa::filter_taxa(y, taxon_names == "k__archaea", subtaxa = TRUE)` return? I have a feeling there are no taxa left for some reason.

[2018-08-29 20:07] raw937 commented on #248
That works no problem.
No `cols` specified, so using all numeric columns:
   JZ030, JZ031, JZ032, JZ033, JZ034, JZ035, JZ036 ... JZ106, JZ108, JZ109, JZ110, JZ111, JZ112, JZ113

Zeroing 22423 of 287328 counts less than 5.

no_reads <- rowSums(y$data$tax_data[, otu_table$taxon_id]) == 0
sum(no_reads)

I am trying to make a heat tree based on site.

thank you for being so helpful. :-)

[2018-08-29 20:09] raw937 commented on #243
Ah, your right nothing there! sorry :-(

[2018-08-29 20:09] zachary-foster commented on #248
No problem! Note that the `dataset` option had its named changed to `data` in the new version. `dataset` will still work (for a while), but will give you a warning.

[2018-08-29 20:15] raw937 commented on #248
Sorry forgot to post the error
no_reads <- rowSums(y$data$tax_data[, otu_table$taxon_id]) == 0
Error in otu_table$taxon_id : object of type 'closure' is not subsettable

Error: object 'no_reads' not found

[2018-08-29 20:28] zachary-foster commented on #248
`y$data$tax_data[, otu_table$taxon_id]` is the problem. In my example code, there is a sample data table with the names of samples. This was used to subset the abundance matrix to just the columns with sample counts.

![image](https://user-images.githubusercontent.com/6090555/44813449-a82c9580-ab8e-11e8-97a6-25b25546f336.png)

`y$data$otu_table` exists, but `otu_table` on its own is a phyloseq fun

[2018-10-04 02:25] amusheg opened #249 "Maximum value for median proportion"
Hello, I'm not sure what the best way to leave a reproducible example is, but possibly this is just a interpretation question. I'm making a heat tree in which node colors represent the median proportion of a taxon in a treatment group. According to the legend, the range of these values is 0-0.17. The central node, for Bacteria, is colored with the "maximum" color, implying that the median proporti

[2018-10-05 14:58] zachary-foster commented on #249
Hello @amusheg, its hard for me to say for sure without the data to run the code.

What does `range(obj$data$medians$AUT)`, `range(obj$data$medians$NET)`, and `range(obj$data$medians$SED)` return?

Can you attach an example of the output?

If you want, you can email me the input data and I can try to reproduce the problem. Thanks!

[2018-10-05 20:02] amusheg commented on #249
Thank you for responding! I will email you.

[2018-10-05 20:09] amusheg commented on #249
Hi there - my dataset and code can be found here:
https://github.com/amusheg/Daphnia-microbiota-behavior
The cleanup and subsetting of the dataset is in lines 1-67 of the script,
and then the metacoder part starts on line 385.
The output I get is attached.

Thank you so much for your help! I love this package but want to make sure
I'm using it correctly.

On Fri, Oct 5, 2018 at 10:58 AM Zachary Fo

[2018-10-07 01:10] amusheg commented on #249
And to answer the range question - it indeed gives me a range from 0 to 0.17, just like the tree legend says. Does this mean it's doing something different than I think it's doing?

[2018-10-10 21:22] zachary-foster commented on #249
Hello @amusheg, Thanks for the code and data! I have replicated it and the lack of the size scale is a bug I think. I will look into to it and get back to you.

The medians are being displayed correctly, but the issue is that you calculated proportions on the summed taxon counts instead of the OTU counts. When the proportions where being calculated, counts are divided by column sums and what was b

[2018-10-16 16:07] zachary-foster opened #250 "Better error msg when empty taxmap is given to `heat_tree`"
[code]

[2018-10-17 15:30] terrimporter opened #251 "Is there a way to turn off node labels when they are grey"
Is there a way to turn off node labels when the n_obs = 0?

I've checked around for an answer but no luck, can you re-direct me or advise?

[2018-10-17 16:53] zachary-foster commented on #251
Hello @terrimporter, yea, if you set a node label to `""` or `NA` it will not show. One way to do this is something like:

[code]

Make sense?

[2018-10-17 17:06] terrimporter commented on #251
That¹s fantastic, thank you so much.

By the way, I was a bit hesitant to try your package at first (even though
the graphics looked great) but I was pleasantly surprised that it was so
easy to use.  The example on your website pretty much covered what I needed
to know.  I¹d totally recommend it.

[2018-10-17 18:43] zachary-foster commented on #251
Thank you!

[2018-10-17 18:43] #251 closed, assigned to nobody

[2018-11-04 22:37] amusheg commented on #249
I'm sorry, I thought I had responded to this! Thank you for the
explanation. I'll look for the bug fix for the legend labels.

On Wed, Oct 10, 2018 at 5:23 PM Zachary Foster <notifications@github.com>
wrote:

[2018-11-12 23:54] emankhalaf opened #252 "How to filter heattree from undesired taxa"
Hi,
I have been using metacoder to visualize core microbiome as no. of obs (otus), and now I would like to display the core as read count (abundance).
My otu_table is unfiltered, I mean it has non-sense taxa to my analyses such as chloroplasts and mitochondria.
I wonder how can I clean the heattree from undesired taxa or apply any filtration criteria.
Thanks

[2018-11-13 23:50] zachary-foster commented on #252
Hi @emankhalaf! I can t give specific advice without knowing more about how your data is organized.

First, you need to calculate read abundance per taxon. You can use `calc_taxon_abund` to do this. Look at some of the examples in `?calc_taxon_abund` (function help info) an let me know if you have questions. Once you do that, you replace `n_obs` in your heat_tree code to whatever the column name o

[2018-11-14 00:34] emankhalaf commented on #252
Thank you very much. I will give it a try and be back for my trial updates.
One more thing, I have a script to remove D_0, D_1, .... from taxa display. I can use it with phyloseq object, but do not know how to remove taxa level code from the otu-table in a text format.
Thanks again

[2018-11-14 06:18] zachary-foster commented on #252
by "text format" do you mean in a file? If so, you can use find ("D_") and replace ("") in a text editor restricted to just the area with the headers ("in selection").

if you mean in a `taxmap` object, you can use `sub` on the column names to do the same find and replace.

[2018-11-14 14:01] emankhalaf commented on #252
Hi,
I run the following:
[code]

[code]

[code]
and got this error:

Error: Unsupported class: data.frame

[2018-11-14 14:47] emankhalaf commented on #252
Hi,
Sorry, I should apply the function on taxmap. I did as follow, however, I still have the same count?
[code]

[code]

### Convert to proportions

[code]

[code]

### Sum counts per taxon

[code]

### Get mean proportion

[code]

### Test plot

[code]

IN phyloseq object, I should have 593 taxa, and here after filtration I got 630 taxa.
Also, the tree branches in terms of abundance look differen

[2018-11-14 18:35] emankhalaf commented on #252
Hi,
I am trying the script in the link (example document) that you provided. When come to step
obj <- parse_tax_data(hmp_otus,
                      class_cols = "taxonomy", # the column that contains taxonomic information
                      class_sep = ";", # The character used to separate taxa in the classification
                      class_regex = "^(.+)__(.+)$", # Regex identifying where

[2018-11-14 19:56] zachary-foster commented on #252
Its hard for me to say what is going on without running the code or seeing output. If you send be "kit.txt" it would probably be easier to debug. You can email it to me if you would rather not post it here.

Odd, how did you get that number for the phyloseq?
Phyloseq might be calculating it differently (e.g. things like "unknown" in multiple places counting as one).

Are you using the provided dat

[2018-11-14 20:40] emankhalaf commented on #252
Yes, when remove class_regex and class_key, it works. But, when filter taxmap from otu with read count <10, in the confirmation step
no_reads <- rowSums(parsed$data$tax_data[, kit_samples$SampleID]) == 0
sum(no_reads)

I found sampleIDs in metadata file are different from sampleIDs in taxmap (as X was added pre-each sampleID).
Also, I still see chloroplast in the tree as cyanobacteria.
May you ple

[2018-11-14 20:43] zachary-foster commented on #252
Sure, it is "zacharyfoster1989@gmail.com"

[2018-11-15 05:48] zachary-foster commented on #252
I have emailed you an example analysis that might help.

They were added by `read.table`, because the the column names started with numbers, which base R does not like.
In the example I sent you over email, I use the `readr` package which avoids this.

I was able to filter them out using your code for the most part. Had to add subtaxa = TRUE. see email

I am not seeing either of those numbers, but

[2018-11-16 19:54] grabear opened #254 "Metacoder observation table names, calculation functions, and dplyr style additions to the package?"
# Introduction
I'm not sure if this is relevant for all of your workflows, but I was thinking about the naming conventions used in metacoder and phyloseq.

For the project I'm working on we decided to go with a different naming convention for the observation data (aka `names(mc_obj$data)`).  Our project imports the data using phylsoeq and then converts it with `parse_phyloseq`, so the context may

[2018-11-17 00:37] zachary-foster commented on #254
Thanks @grabear, I will try to look at this more closely this weekend and get back to you.

[2018-11-19 19:01] grabear commented on #254
# Follow Up
I'm working on some of this in a private repository for one of my projects.  Maybe when we finish the package I can present to you what I've done and we can work from there?

The package will also include a workflow that utilizes otu_ids https://github.com/grunwaldlab/metacoder/pull/253, correlation plots and agglomeration function from https://github.com/grunwaldlab/metacoder/issues/2

[2018-11-19 22:40] zachary-foster commented on #254
## 1) renaming `parse_phyloseq` output

"otu_table", "sample_data", "tax_table", and "phy_tree" were chosen because those are the names used in a phyloseq object. I agree that "otu_abund" is better than "otu_table", but the rest seem fine as they are. I dont use phyloseq too much, but I assumed people would be less confused if the names stayed the same?

## 2) Would you consider manipulating the w

[2018-11-19 23:09] emankhalaf commented on #252
Hello,

Thank you very much, I just still have two more inquiries:
1- for taxa that log2 median ratio with negative value, that means the abundance of these taxa was significantly reduced upon pathogen treatment (of course in case I am using p-value <0.05 as a threshold for displaying data), is that true? so we can calculate differential abundance as +/- impact of the treatment.
2- About the node

[2018-11-20 00:18] zachary-foster commented on #252
Yea, depending on order of `treatment_1` and `treatment_2` in the output.
One of the resons I use the  log of the ratio is that 0 means no difference and differences are symmetric around zero.  For example, a log2 median ratio of -2 means the median abundance of "treatment_2" is 4 times larger than "treatment_1"

[code]

If you use `n_obs` on an OTU table, then it is number of OTUs per taxon.  `n_

[2018-11-20 13:47] emankhalaf commented on #252
Oh, great, your answers improve my understanding to the code. I think in my case it is OTU count per taxon.
 I also used heat-tree function with phyloseq object filtered by using a specific prevalence threshold, that returns a limited no. of taxa  (for example 15 taxa) and the tree display (node size and color) is mainly based on taxa count (not OTU count) as it is prevalence not abundance. is tha

[2018-11-21 14:50] taylorreiter commented on #232
I receive a similar error when using the function `parse_silva_fasta()`, however I do not see an argument to change the regex. Is there a work around for this?

[code]

[2018-11-21 16:22] emankhalaf commented on #252
Hi Zac,
As I try to understand why no. of taxa is different in metacoder from what I got in phyloseq after filtering Mitochondria and chloroplasts. I wonder if using the following code:
filter_taxa(parsed, taxon_names %in% taxa_to_remove, subtaxa = TRUE, supertaxa = TRUE)
should remove the entire feature (OTU) of filtered taxa not just only the subtaxa, that is why there is a difference in taxa co

[2018-11-21 18:48] zachary-foster commented on #252
Hello @emankhalaf,

filter_taxa(parsed, taxon_names %in% taxa_to_remove, subtaxa = TRUE, supertaxa = TRUE)
should remove the entire feature (OTU) of filtered taxa not just only the subtaxa, that is why there is a difference in taxa count?

Did you forget to include `invert = TRUE`? That code actually removes everything not in "taxa_to_remove", which is not what you intended I think.

You might hav

[2018-11-21 18:52] zachary-foster commented on #232
Are you using the unmodified SILVA database or a subset of it as input? If so, thats a bug. Otherwise, it would probably be best to use `parse_tax_data`.

[2018-11-21 21:37] emankhalaf commented on #252
I will send you the code. However, I detached phyloseq and the function is working now. When I used subtaxa and supertaxa = True, so nothing is remained in the table, as either has the same root (Bacteria).
It sounds that there is no way to remove mitochondria and chloroplast entirely (entire line) from taxmap.
Please help, I like metacoder taxonomic representation.

[2018-11-21 23:01] zachary-foster commented on #252
Are you taking about the taxonomy table that is included when converting a phyloseq object or the taxonomy defined in the taxmap object? By default, when taxa are removed from the taxonomy, and data assigned to those taxa are reassigned to a supertaxon that was not removed. If you dont want this to happen, use the `reassign_obs` option. That either takes TRUE/FALSE or a value for each table. For e

[2018-11-21 23:39] emankhalaf commented on #252
In phyloseq, I already filtered mitochondria and chloroplast, then I subset the object to visualize a specific group of samples, then I used the following:
[code]

[2018-11-22 10:59] Marieag commented on #196
Any news on this?

[2018-11-22 15:07] emankhalaf commented on #252
To solve the problem, I created separate objects for each group of samples (based on sequences) and now is working.
But, I noticed sth, that if the no. of obs is for example 1579 (shown in R environment), the key of the tree showed the maximum OTU count 1560. Does parsing filter the OTU count?
Also, the tree key shows only OTU count/taxon not including the other statistical information (mean-prop)

[2018-11-22 18:28] emankhalaf commented on #252
Hi Zac,
I did a manual filtration for the taxonomy table and re-run the code. I got the same count as in parse-phyloseq, but the node colors are different. I will send you both htmls in case of using phyloseq with metacoder and metacoder only(taxonomy table).
Also, when I run parsed$data$taxon_counts <- calc_taxon_abund(parsed, "tax_data")
then heat-tree to display the tree by only read count, I g

[2018-11-23 06:13] zachary-foster commented on #196
Hello @Marieag, sorry for the delay.

Its not straight forward at this point to make the correct colors be always chosen automatically, so I added options options to manually set the colors and size of labels. It not a perfect solution, but will work and is flexible. You can try it by installing the development version:

[code]

[2018-11-23 14:47] zachary-foster commented on #252
Hi @emankhalaf,

I will be camping for the next few days without internet, so I will try to figure this out on Monday.

[2018-11-23 15:09] emankhalaf commented on #252
No problem.
Have a nice weekend.

[2018-11-26 14:08] Marieag commented on #196
Hrm. I'm getting this very informative error when I try to install

`> devtools::install_github("grunwaldlab/metacoder")
Downloading GitHub repo grunwaldlab/metacoder@master
Error: Could not find tools necessary to compile a package`

It's strange, I usually update metacoder that way :/

[2018-11-26 14:11] emankhalaf commented on #252
Hi@Zachary Foster,
Something weird I noticed, sometimes the tree includes a separate branch of archaea (diseased tissues), and sometimes does not (healthy tissues), however archaea read count is reduced upon infection, which means they should be more abundant and represented in healthy tree.
May you please explain that to me!
Thanks

[2018-11-27 00:06] zachary-foster commented on #252
No, the parsing functions do not remove any data. That is probably the maximum number of OTUs for a single taxon (Bacteria I would guess), but you also have some other things like Archea taking up some of those total OTUs.

I wonder which is more acceptable, to display the tree with only OTU count or return back to taxonomy table and try to filter mitochondria and chloroplasts lines manually and r

[2018-11-28 06:55] grabear commented on #234
In this example you gave me:

Does reassign_obs need to be `false`?  I would think that it would need to be `true` so that all of the indexes would change with the data.

This issue is also old so things may have changed between now and then.

[2018-11-28 14:33] Marieag opened #255 "Get taxa names from heat trees"
Hi!
I'm working with quite large, mutivariate datasets, and sometimes, when I have a heat tree matrix of hundreds of taxa split into 16 groups, there is still some visual cues that are interesting, but it can be difficult, size-wise, to pinpoint the exact taxon. Is there any way to make a table of, say, taxon names or nodes with a certain log fold change threshold, or to create it from the node ca

[2018-11-28 18:21] zachary-foster commented on #255
For example:

[code]

So the key here is that `x$data$diff_table` is just a regular table, that can be subset and added to any way you like, in or out of the `taxmap` object `x`.

[code]

Also, when you write `node_label = taxon_names` in `heat_tree`, you are using the `taxon_names()` function, like so:

[code]

This returns one name per taxon, named by taxon ids.

To see the names of the taxa tha

[2018-11-28 18:53] zachary-foster commented on #234
I think `filter_taxa` behaves mostly the same, at least in this regard.

Was the goal similar to #255 ?

If it was false, "tax_counts" would not be subset, just reassigned to the remaining 8 taxa. For example the row with info for Clostridia would be reassinged to Firmicutes, even though a row for Firmicutes already exists, so now you have two rows assigned to Firmicutes, one for Firmicutes and on

[2018-11-28 19:15] grabear commented on #234
Yes, this answers my question and more!

I have some more ideas for you to brew over, but I'll make another issue (https://github.com/grunwaldlab/metacoder/issues/254)  as I did recently :rofl:

[2018-11-28 19:59] grabear opened #256 "Observations vs. Taxa, filter_obs vs. filter_taxa, and Taxon_id vs. OTU_id."
# Introduction

There is confusion amongst myself and others about what some of these words mean.  This may be due to ignorance of the jargon used in the field.  So I'm going to define them to the best of _**my**_ abilitiy.  I'm also going to attempt to make some suggestions to improve the readability of the package workflow and the syntax.

## ropensci/taxa Class Diagram
![](https://raw.githubuse

[2018-11-28 20:00] grabear commented on #256
Unfortunately, I've run out of time, but I will update this Issue when I get back.

[2018-11-29 10:21] Marieag commented on #255
Makes perfect sense!
It works like a charm.
Thank you so much :)

[2018-11-29 10:21] #255 closed, assigned to nobody

[2018-11-30 14:30] emankhalaf commented on #252
Sorry for my delayed reply as I was in a sick leave. Thank you very much for your answers, really very helpful.
With regard to the last question, I will send you the code and the data. (I can see archaea branch when I use parse-phyloseq), but not always displayed in metacoder??
Thanks again

[2018-12-01 01:06] zachary-foster commented on #252
It is not displayed in the heat trees because of the `filter_taxa(taxon_names == "Bacteria", subtaxa = TRUE)` before the heat tree call:

[code]

That removes any taxa that are not in bacteria before plotting. If you look at the object, archea are there:

[code]

If you remove the filtering before the plot, you will see a small tree for archaea next to the bacteria tree (it is a different tree bec

[2018-12-13 05:03] amusheg commented on #249
Hi, I'm sorry to bother you, but I'm getting ready to publish and when generating this figure with version 0.3.0.1, the legend is still missing labels for the size scale. Do you know when this might be fixed?

[2018-12-14 21:46] zachary-foster commented on #249
Sorry for the delay. I will work on this now. I expect I will have a solution for you within the next few days.

[2018-12-17 18:18] zachary-foster commented on #249
Hello @amusheg, it should be fixed. Try reinstalling:

[code]

[2018-12-21 14:55] amusheg commented on #249
Thank you!

On Mon, Dec 17, 2018 at 1:18 PM Zachary Foster <notifications@github.com>
wrote:

[2019-01-10 22:06] ireceptor opened #259 "Errors when parse phyloseq object"
Hi,

When I tried to use parse_phyloseq to import my data, I got the error below:

 NA

and the data can't be imported to metacoder. I got the same error when I tried with the example data in phyloseq:

Error: The following taxon IDs do not exist:
 NA
In addition: Warning message:
The following 17865 of 19216 input indexes have `NA` in their classifications:
   1, 2, 4, 5, 6, 7 ... 19212, 19213, 1

[2019-01-12 00:35] zachary-foster commented on #259
Hello @ireceptor, It works for me. When did you install? There was an update to `taxa` and `metacoder` about a week ago, and if you installed during the half day or so when `taxa` was updated and `metacoder` was not, it might cause issues. Try reinstalling `metacoder` and see if the example dataset still gives an error. Thanks

[2019-01-12 01:08] grabear commented on #259
I got the same error a few days ago, but then I reinstalled taxa and metacoder with `devtools::install_github` and everything worked nicely.

[2019-01-14 14:38] ireceptor commented on #259
Hi @zachary-foster @grabear ,

I think my problem is the taxa package. I just reinstalled it and it works great now. Thanks for the help.

[2019-01-14 14:38] #259 closed, assigned to nobody

[2019-01-14 23:46] zachary-foster commented on #252
Closing due to inactivity.  If there are still unresolved issues, feel free to reopen this issue or open a new issue.

[2019-01-14 23:46] #252 closed, assigned to nobody

[2019-01-14 23:46] #249 closed, assigned to nobody

[2019-01-14 23:46] zachary-foster commented on #248
Closing due to inactivity.  If there are still unresolved issues, feel free to reopen this issue or open a new issue.

[2019-01-14 23:47] zachary-foster commented on #245
Closing due to inactivity.  If there are still unresolved issues, feel free to reopen this issue or open a new issue.

[2019-01-14 23:47] #245 closed, assigned to nobody

[2019-01-14 23:48] zachary-foster commented on #239
Closing due to inactivity.  If there are still unresolved issues, feel free to reopen this issue or open a new issue.

[2019-01-14 23:48] #239 closed, assigned to nobody

[2019-01-14 23:49] #188 closed, assigned to nobody

[2019-01-14 23:49] zachary-foster commented on #141
Closing due to inactivity.  If there are still unresolved issues, feel free to reopen this issue or open a new issue.

[2019-01-14 23:49] #141 closed, assigned to nobody

[2019-01-15 00:42] emankhalaf commented on #252
Thanks so much for your help and sorry for not responding as I had head
injury leading to concussion since December 2nd and so far I am not able to
look at any monitor, just very limited use of cell phone.
Thanks again.
Eman

On Mon, Jan 14, 2019, 6:46 PM Zachary Foster <notifications@github.com
wrote:

[2019-01-15 02:45] zachary-foster commented on #131
label limits are depreciated now

[2019-01-15 02:45] #131 closed, assigned to nobody

[2019-01-15 04:26] zachary-foster commented on #133
done

[2019-01-15 04:26] #133 closed, assigned to nobody

[2019-01-16 20:40] zachary-foster opened #260 "Thoughts on heat_tree argument formats"
`heat_tree` has too many arguments for one function (>50) and there are still others I would like to add. Although this does not affect how it works, it is not great UI design. Making the arguments more modular, would give me more freedom to add things. I was thinking about different ways to split up the arguments and I came up with the following options:

## Don't change

This is the easiest!

[c

[2019-01-16 21:33] Neato-Nick commented on #260
I agree it's worth thinking about the best way to present all those options. The ggplot style is really nice and I think intuitive when thinking about adding layers onto graph. A `+` at the end of a line makes me think "And then I add this thing." But most of those `heat_tree` options are not additions to the plot, they're modifications. Like, `ht_layout` in your example would be modifying a layer

[2019-01-16 21:51] zachary-foster commented on #260
Thanks for the input! I am also leaning towards helper functions at the moment.

Yes, that is true, and is one of the reasons I worry about the ggplot2 style being confusing.

Yes, I agree with that as well. It just makes programmers cringe. Another option is to make the helper functions optional:

[code]

or
[code]

[2019-01-30 03:58] olar785 commented on #233
Hi Zachary,
I have been trying the calc_prop_samples function (which is very useful by the way) and there seems to be a problem with the labelling of groups returned. In my case I had 3 groups of samples (Nodule, Sediment, Water) and I realised that the values reported for Sediment and Water were inverted. Using the same input data I calculated the values myself for some specific taxa and could co

[2019-01-30 18:03] zachary-foster commented on #233
Hi @olar785, thanks for the report. Did you use the `cols` options to specify the columns to use? Something like that might happen if you don't use the `cols` option and the numeric columns in the table are in a different order than the sample type given to the `groups` option. Perhaps I should add a warning about that. If you did use the `cols` option (and it was in the same order as the values g

[2019-01-30 18:37] olar785 commented on #233
Thanks for your quick reply.
I did use the cols option. Here is what I did:
taxmap_18S$data$propS = calc_prop_samples(taxmap_18S, "tax_abund",
                                          cols = taxmap_18S$data$sample_data$sample_id,
                                          groups = taxmap_18S$data$sample_data$Sample_type,
                                          other_cols= TRUE)

However, if I us

[2019-01-30 19:05] zachary-foster commented on #233
Ok, I will look into it. I don't see your attachment though. Perhaps you need to attach it on Github rather than via email? Thanks

[2019-01-30 19:15] zachary-foster commented on #233
You can also email it to me directly at "zacharyfoster1989@gmail.com" if you would rather it not be posted on github

[2019-01-30 23:17] zachary-foster commented on #233
Hi @olar785, it was a bug and I think it is fixed now. I did not notice it before because it only effects some datasets when the `groups` option is used and the bug did not affect my test data set. Try installing the development version and let me know if it works for you:

[code]

[code]

Thanks again for the report!

[2019-01-31 00:02] grabear commented on #260
Hey @zachary-foster I've been busy as usual and I thought I had responded to this already.

I think @Neato-Nick has really good input, but I have something to add:

* Any item that uses data available to `taxa::all_names` should probably be more of a helper function.  This helps avoid any confusion.

[code]

* For theme based items (_title_, _node legend_, _edge_legend_, _axis_label_, etc.) you co

[2019-01-31 01:00] zachary-foster commented on #260
Thanks @grabear!

Yea, it would probably be less confusing to experienced users, but perhaps more confusing to new users. I am not sure. In the version I am working on now, every argument can take values from `taxa::all_names`, even those that don't really need to, so that at least its consistent.

I might do another rewrite in the future that will follow the gpglot2 syntax more and allow for more

[2019-02-01 05:23] olar785 commented on #233
Hi Zachary,
I removed the metacoder package and tried to reinstall it with devtools::install_github(“grunwaldlab/metacoder”)  but I get the following error:
Error: package or namespace load failed for ‘metacoder’ in namespaceExport(ns, exports):
 undefined exports: edge_shape_functions, node_shape_functions
I don’t if it’s an issue stemming from my configuration or something else though.

[2019-02-01 15:03] zachary-foster commented on #233
Sorry about that @olar785, I was working on the development branch when I made that bug fix to the master branch and did not rebuild the namespace after switching branches to commit the bug fix on master, so there were references in the namespace to functions that did not exist in master. It should be working now. At least it works for me now.

[2019-02-02 23:55] olar785 commented on #233
Works like a charm, thank you!

[2019-02-06 21:49] zachary-foster commented on #233
no problem!

[2019-02-06 21:49] #233 closed, assigned to nobody

[2019-02-15 13:42] mhmism opened #261 "Show relative abundance instead of n_obs"
How can I show in the relative abundances for each taxa in the phylogenetic map instead of the number of observations (n_obs)?

[2019-02-19 21:50] zachary-foster commented on #261
Hello @mhmism, sorry for the delay.

You have to use something like `calc_taxon_abund` to add up the abundance per OTU for each taxon. Look at this example:

https://grunwaldlab.github.io/metacoder_documentation/example.html#getting-per-taxon-information

and also at the examples in the help of "calc_taxon_abund":

[code]

Let me know if you have questions

[2019-02-21 11:15] mhmism commented on #261
Thanks @zachary-foster  for your answer,

and in that case what would I use instead of **n_obs** in node_size = n_obs, in order to show nodes size according to relative abundances?

[2019-02-21 21:49] grabear opened #262 "Is there a way to label the root without affecting other nodes?"
I'm currently labeling all of my nodes with taxon_ids, because it's easier to read that way for our data.  Is there any way to label the root with the taxon_name, while keeping the other nodes labeled with taxon_ids?

If not that would be an awesome feature.  It can be difficult to discern, which node is the root based on what your node_labels are.

[2019-02-21 22:27] zachary-foster commented on #262
Yea, try:

`node_label = ifelse(is_root, taxon_names, taxon_ids)`

[2019-02-21 22:29] grabear commented on #262
@zachary-foster I was just looking at my code, and did a nested `ifelse` statement because I only want to label significant significant nodes and the root nodes.

Thanks for the quick response.  Sorry I made an issue out of this.

[2019-02-21 22:30] grabear commented on #262
![image](https://user-images.githubusercontent.com/20953530/53206207-f4183e80-35f5-11e9-9fc1-477fa3e713e8.png)

[2019-02-21 23:38] zachary-foster commented on #262
no problem, its a common question. I wish all issues were this quick to solve!

[2019-02-21 23:38] #262 closed, assigned to nobody

[2019-02-22 17:24] zachary-foster commented on #261
That depends on how you do it. You will be using the contents of a column or the name of that column that contains per-taxon information. For example:

[code]

In this case, you have to use `ex_taxmap$data$tax_count$count` instead of `count` because there is another table with a column named `count`, so the function cannot tell which you mean. However, if you give it a unique name, you can do it t

[2019-04-14 12:43] juanu opened #263 "Creating a facet with multiple heat trees"
Hi,

Thanks for this amazing package, I've been playing with it for a few days, and it will be really useful with my data :)

I have a question regarding the heat trees, that I could't find an answer elsewhere. I'm trying to visualize changes over time of my dataset, by doing individual heat trees of the different time points. The problem is that for each tree, the topology changes a little, which

[2019-04-15 17:53] zachary-foster commented on #263
Hi @juanu, thanks!

Right now, there is no analog to the faceting concept in `ggplot2`, but you can make them all look the same by setting them same random seed before each plot using `set.seed(some_number)`. See:

https://grunwaldlab.github.io/metacoder_documentation/faq.html#how-can-i-make-a-heat-tree-look-the-same-each-time

You can save multiple plots and combine them into one using packages l

[2019-04-17 23:24] juanu commented on #263
Thanks @zachary-foster !!
This definitely helps, in particular the use of gridExtra.

 I'm still unsure on how I could create the individual plots for the grid, based on the sample metadata. What I'm trying to achieve is that each of the subplots, would have the same topology for the tree, but the count data will be different according to a specific timepoint. I've been playing with `filter_obs`,

[2019-04-19 07:09] zachary-foster commented on #263
No problem @juanu!

To do this, all trees need to have the same set of taxa, so you cant filter taxa (with `drop_taxa = TRUE`), but modify the counts.  Some taxa will have a count of 0 for some time points.

Yes, so you need a different set of counts for each time point, preferably as a column of counts for each time point in a table of per-taxon counts (one row per taxon). Once you have that, you

[2019-04-22 03:32] juanu commented on #263
Thanks! @zachary-foster ! So, you were right on point with the comment on `drop_taxa=TRUE`, and I should have thought about it too 🤦‍♂️ . Basically, when doing the transformation, the taxa that is not present will have counts of 0s...which means that it will be on the dataset, but it won't have a value.

Anyway, thanks for all your suggestions. I need to work on the details now,  but I'm back on t

[2019-04-23 07:24] zachary-foster commented on #263
Nice!

You probably want to set node size/color range to be the same by `node_size_range` and `node_color_range`, so all the plots have the same scale and the trees are the same size. Then, once you are done and ready for publication, you can delete two of the three legends, since they will be the same.

[2019-04-29 22:42] mdwhitby opened #264 "calc_n_samples groups in wrong order"
When the dataframe is not arranged with all of one group in adjacent rows, the group labels in calc_n_samples are not in the proper order.

See example:

[code]

In the tax_occ table taxon ab(higest level), the totals are mixed between groups.

[2019-04-30 15:40] zachary-foster commented on #264
I fixed an error like this recently. Have you reinstalled recently? If not, reinsatll and let me know if that fixes it. Here is what I get with the current CRAN version:

[code]

Is that what you get? Thanks!

[2019-04-30 16:09] mdwhitby commented on #264
Thanks, I apparently was using an MRAN snapshot from an earlier date.

Michael Whitby
michael.whitby@gmail.com
609-923-0973

On Tue, Apr 30, 2019 at 10:40 AM Zachary Foster <notifications@github.com>
wrote:

[2019-06-07 20:30] Gian77 opened #265 "heat_tree legend size"
Hello @zachary-foster,

is there a way in 'metacoder' to reduce the legend size?
It is very big and over-plot on the tree labels.

Thanks,

Gian

[2019-06-07 21:32] zachary-foster commented on #265
Hi @Gian77, not currently. I am working on rewriting the heat tree code to make it more flexible, but it might take a while. I will make that an option in the future.

In the mean time, you can save your plot to a SVG or PDF and modify it manually with the free program [Inkscape](https://inkscape.org/) before you use it for publication. I know its not a great solution as far as automation and repr

[2019-06-11 02:51] Gian77 commented on #265
Thanks for the fast answer. I will follow your suggestion and use Inkscape,
for now ;)

Gian

On Fri, 7 Jun 2019 at 17:32, Zachary Foster <notifications@github.com>
wrote:

*----- Do not print this email unless you really need to. Save paper and
protect the environment! -----*

[2019-06-18 17:55] taniafort commented on #263
Hi,

Thanks for this package Zachary! I'm just starting to use it and there are many very useful functions in there! I'm having the same issue as Juanu but I'm not as skilled as he is.

Could either of you two provide a complete example, please?

Thanks so much in advance,

[2019-06-19 16:34] zachary-foster commented on #263
Hi @taniafort,

Does the example on my first reply do what you need? If not, what other parts do you need?

[2019-06-19 17:09] taniafort commented on #263
Hi Zachary,

Thanks for the quick reply!
It's just the part where you wrote "do something with time point data" that I don't know how to code.

Thanks in advance and sorry for the silly question,

[2019-06-19 18:07] zachary-foster commented on #263
Ahh ok, that would depend on how your data is formatted and what you want to plot. Typically, you would filter the data to the subset plotted in each graph. Its hard for me to give a concrete example without seeing how your data is formatted and knowing what you want to plot. If you email me your data and tell me what you want to plot I can probably point you in the right direction. `zacharyfoster

[2019-06-19 18:56] taniafort commented on #263
I would like to compare miseq and sanger sequencing of bacterial communities.

I have one sample for each type of sequencing and I'd like to plot the number of sequences assigned to the genus rank for the miseq sequencing sample on one plot and do the same on another plot for sanger sequencing (I just e-mailed you the data).

[2019-06-20 09:56] M-Ourry opened #266 "Comparing heat trees using presence/absence data and binomial glm"
Hello @zachary-foster

I attended your workshop at the Phytobiome Conference in Montpellier last December and I managed to realize several comparing heat trees (using a phyloseq object). Again, thanks for the workshop as it is very beneficial for my current analyses!

I was wondering if it was possible to use presence/absence data instead of proportions in order to perform a generalized linear mod

[2019-06-21 02:58] zachary-foster commented on #263
Hi @taniafort,

In your case, you need to say which column you want to plot at each iteration of the loop. See the example below. Let me know if you have questions.

[code]

![](https://i.imgur.com/LKM8CJS.png)

[code]

<sup>Created on 2019-06-20 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-06-21 04:08] zachary-foster commented on #266
Hi @M-Ourry,

Thanks, I am glad it was helpful!

I have not done that, but you can plot anything if you can get the results into the right format. In this case, you need per-taxon values of what ever you are plotting in a table with a `taxon_id` column.

You can do it with `counts_to_presence` after reading in your data:

[code]

<sup>Created on 2019-06-20 by the [reprex package](https://reprex.ti

[2019-06-21 09:49] taniafort commented on #263
Thank you so much Zachary!! This is exactly what I wanted! :)

[2019-06-26 09:22] M-Ourry commented on #266
Hi @zachary-foster

Thank you for your answer!
Actually, I was more interested in taxa presence/absence than their abundance, which is why I wanted to use a binomial glm (on presence/absence data) and then realize a heat tree using this statistical analysis. I tried to change it in the compare_group function but it is definitely out of my league (for now and I am running out of time). So I think I

[2019-06-27 18:50] zachary-foster opened #267 "Make clalc_taxon_abund work with presence/absence data"

[2019-06-27 20:19] zachary-foster commented on #266
Do you need a test for this? What if you just picked a minimum read count for a taxon to be considered present and colored the taxa that were present one color and taxa not present in grey? You could have a set of trees, one for each experimental factor. Or if you wanted to do comparisons between factors, you could have 4 colors: present in both, present in factor A, present in factor B, or absent

[2019-06-28 13:29] M-Ourry commented on #266
Again, thanks a lot for your answer!
This kind of heat tree reminds me of the UpSet plots ([https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4720993/]) but with the taxonomy info, which is great!
This worked with my data but I added a threshold so that taxa are highlighted only if there are present in at least 50% of my replicates, otherwise a taxon is highlighted when present in only one replicate of

[2019-06-28 18:57] zachary-foster commented on #266
No problem!

[2019-07-07 16:46] Mirin1357 commented on #240
Hi @zachary-foster,
first all compliments for this beautiful package for what I agree is the most appropriate presentation of a large scale microbiome data.

My issue is the following: I wanted to use DESeq2 instead of "compare_groups" for my 16S data, since I already use microbiomeSeq for the rest. I have 5 SampleType groups I want to compare in between (note: normal compare_means and heat_tree_m

[2019-07-07 17:33] Mirin1357 commented on #240
Being on the matter, I have an additional question considering the filtering of the obj before passing it to heat_tree, that does not work if either node_size or node_color is not set to n_obs.

My "obj" has 5 samples within.
I want to see N of samples per taxon (tax_occ) and mean abundance % per group:
[code]

# I want to visualise taxons up until order, only for BAL with corresponding number of

[2019-07-09 15:59] zachary-foster commented on #240
Hello @Mirin1357, thanks for the kind words.

### DESeq issue

You seem to be doing it the right way. Its hard for me to say what exactly the problem is without being able to reproduce the error. Perhaps you don't have every combination of treatments or `log2FoldChange` is `NA` for all the taxa of one combination?

I noticed you used `obj$data$testM$padj == "NA"`. You probably want `is.na(obj$data

[2019-07-09 18:33] Mirin1357 commented on #240
Hi @zachary-foster,

thank you very much for your reactivity!

### **DESeq**
Considering NA, I have accidentally omitted the lines where I check for NA before merging with obj, so here they are and their output.

for being more logic, I replaced testM with deseq.tbl

[code]
I tried only a), only b) or both before adding to obj but did not work for the plot.
Considering the obj, it actually also ha

[2019-07-10 18:06] zachary-foster commented on #240
Thanks for the data, I will look at it today.

In regards to the filtering problem: I think it is because `obj$data$tax_occ$BAL` is the value for the unfiltered `obj` but the the object being passed to `heat_tree` has been filtered so they have different numbers of taxa. Try:

[code]

If that does not work, make sure that `tax_occ` and `mean_perc` have one row per taxon.

[2019-07-10 20:45] zachary-foster commented on #240
Hi @Mirin1357,

I found out what the problem was. The 'LUNG.T vs LUNG.DP' comparison has twice the number of values per taxon and there is no data for the 'LUNG.PT vs. LUNG.T' comparison.

[code]

I have added a check to the `heat_tree_matrix` function so that now you will get the error:

[code]

So that should be easier to figure out in the future.

You can install the development version with th

[2019-07-11 09:54] Mirin1357 commented on #240
Hello @zachary-foster,

### **DESeq**
I rechecked the code for comparisons, and indeed, I have found one misspelled sample name, resulting in lack of 1 comparison and twice of the other.  Then I used your suggestion to verify, and all was neet and the code ran without any further issues!!!!
Thank you so much! And yes, I think that this message will be found as helpful, at least to know where to lo

[2019-07-11 16:33] zachary-foster commented on #240
Ahh, I forgot, if you want to filter per-taxon data using `filter_taxa`, you need to use `reassign_obs = FALSE`. If you dont, then the taxon ids of the data get changed to the taxa at the order ranks instead of being removed. Then the data is not per-taxon and that is what causes the error. You want the `tax_abund`, `tax_occ`, and `mean_perc` tables to have the same number of rows as there are tax

[2019-07-12 10:01] sunilmundra opened #268 "cannot compute exact p-value with ties"
Hi,
I am trying to use differential heat tree using metacoder and running the following code to calculate differences in abundances based on the two groupings.

[code]

Still I am getting following error in calculating Woilcox test, and have no idea what is wrong here.

[code]
I guess becasue of failure of Wilcox test, I am unable to plot differential tree, and getting error (see below)

[code]

C

[2019-07-12 12:10] sunilmundra commented on #141
Hi @zachary-foster
I am trying to make a differential heat tree for two categories (birch vs spruce)
Everything works fine till I plot overall tree, tree for individual categories, but when I am planning to make differential tree for comparing two categories based on log2 mean ration I am getting error (see code and error below).
###################
# Differential tree
###################
metacode

[2019-07-12 16:01] zachary-foster commented on #141
Hi Sunil,

What does the print out for `families` look like before plotting? Thanks

[2019-07-12 16:07] zachary-foster commented on #268
Hi Sunil,

That warning message is because you probably have some OTUs with the same read counts (often 0):

[code]

<sup>Created on 2019-07-12 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

Its a common warning to get and should not cause that plotting error, although it will make some p-values NA, so you might need to deal with that.

Can you show me the print out for `fam

[2019-07-12 17:32] sunilmundra commented on #268
Hi Zach,
See below the output for families. Which are generated using following command.

[code]

[2019-07-12 17:50] zachary-foster commented on #268
Hi Sunil,

FYI, you can use surround multi-line code in three back ticks (```) to get the code formatting in GitHub so its more readable. I edited your posts so you can see how to do it (click the ... top right of a post and click edit to see what I did). Check out: https://guides.github.com/features/mastering-markdown/

Can you show me the `families` after you do the following line?

[code]

The

[2019-07-12 18:30] Mirin1357 commented on #240
Hello @zachary-foster ,

thank you for the solution! It works flawless for both examples! Of course, I would never thought of it...

Thank you very much for your help in both problems, I hope it will also be useful to others.

Best regards and great job for the package once again!

[2019-07-12 18:31] sunilmundra commented on #268
Hi again Zach,
Here is the output from said command.

[code]

I can make plot if I do node_color = total (this means color are plotted based on OTUs no, not according to log2_median ratio, which i measure of abundance difference between birch and spruce.

Sunil

[2019-07-12 18:35] zachary-foster commented on #240
Im glad it worked out. Thanks!

[2019-07-12 18:35] #240 closed, assigned to nobody

[2019-07-12 18:51] zachary-foster commented on #268
The problem is that there are 2,091 rows in `diff_table` and 44 taxa after filtering. You can only plot per-taxon data. If you are filtering after using `compare_groups`, then do:

[code]

Otherwise any data for taxa in `diff_table` that were filtered out will be reassigned to a remaining family instead of being removed.

[2019-07-12 19:02] sunilmundra commented on #268
Here is the error I am getting after running above command.
Error in parse_possibly_named_logical(reassign_obs, self$data, default <- formals(self$filter_taxa)$reassign_obs) :
  Invalid input for logical vector selecting which data sets to affect. The following names are not in data: diff_table

Sunil

[2019-07-16 15:31] P-alonso opened #269 "calculating taxon_abundance"
Hello @zachary-foster

I attended your Phytobiome Conference in Montpellier last year. I manage now to analyze my data with Metacoder package. I am working on the rice microbiome, I'm looking the microbial communities of tow rice genotypes and I want to realize a difference between the microbial communities of the tow genotypes.

Firstly, I rarefyed my data set using the following code: `obj$data$

[2019-07-16 18:07] zachary-foster commented on #269
Hello @P-alonso, welcome to GitHub!

You can specify which columns to use with the `cols` option. See `?rarefy_obs` for examples. You could also convert it to a character vector with `as.character` if you prefer. Either way, I think it makes sense for an ID to be a character vector so that it does not get confused with an index. For example:

[code]

<sup>Created on 2019-07-16 by the [reprex packa